description = "menu header - main"

[viewBag]
snippetCode = "header"
snippetName = "header"

[localePicker]
forceUrl = 0

[extendedLocalePicker]
==
<div class="nav-menu fixed-top position-fixed hello" style="position:fixed;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg">
                    {% if activeLocale is same as('zh') %}
                    <span class="navbar-brand" style="padding: 1rem 0px;" href="{{ 'home'|page }}"><img src="{{ ('assets/images/glueup-logo-zh.svg') | theme }}" class="logo img-fluid lazyload" alt="logo" /></span>
                    {% else %}
                     <span class="navbar-brand" style="padding: 1rem 0px;" href="{{ 'home'|page }}"><img src="{{ ('assets/images/glueup-logo-en.svg') | theme }}" class="logo img-fluid lazyload" alt="logo" /></span>
                     {% endif %}
                    
                    {#here mega menu#}
                   
                </nav>
            </div>
        </div>
    </div>
     {% if blogPost.post %}
     <div class="progress-container">
                            <div class="progress-bar" id="myBar" value="0" max="100"></div>
                      </div>
    {% endif %}
</div>