[viewBag]
==
<section id="us" class="section ">
        <div class="container">
            <div class="row flex-row">
                <div class="col-lg-8 d-flex align-items-center text-center mx-auto">
                    <p class="mb-4 sentence mx-auto">Что <span class="line"><ins> меняется? </ins></span></p>
                </div>
            </div>
        </div>
</section>
<section class="section pt-0">
        <div class="container">
            <div class="row justify-content-center">
            
            	<div class="col-md-8 pt-4 mx-auto">
	            		
<div data-spy="scroll" data-target="#navbar-example3" data-offset="0">

<h5 id="item-1-1">Новый бренд </h5>
<img src="{{ 'glueup-community-feature.svg' | media }}" class="paygage-visual py-2" style="max-height: 300px; width: auto;" alt="logo">
<p>EventBank теперь Glue up! С 2013 года организации, использующие EventBank в своей ежедневной работе, трансформируют свои профессиональные сообщества, взяв курс на автоматизацию и вовлеченность участников. Новое имя Glue Up олицетворяет эффективность наших решений, наш постоянный рост,  нашу основную задачу – объединять и улучшать взаимодействия внутри профессиональных сообществ. Наша миссия – содействие успеху Вашей компании.</p>

<p>Сегодня наша платформа помогает расширять возможности организаций в более чем 50 странах мира, революционизируя отношения, обеспечивая долгосрочную ценность бизнеса и делая взаимодействие в рамках деловых коммуникаций более целенаправленным и эффективным.</p>

<p>Благодаря интуитивно понятной платформе SaaS компания Glue Up является ведущим поставщиком облачных решений, которые предоставляют ассоциациям, организаторам мероприятий, торговым палатам, рекламным агентствам и предприятиям полный набор инструментов, предназначенных для оптимизации операций, модернизации процессов и устранения проблем взаимодействия со своими членами, клиентами и бизнес - партнерами!</p>





<h5 id="item-1-2" class="pt-5">Haш новый логотип Glue Up</h5>
<img src="{{ 'assets/images/glueup-logo-en.svg' | theme }}" class="paygage-visual py-5 px-5" style="max-height: 300px; width: auto;" alt="logo">
<p>Наш новый логотип смелее, гармоничнее и лучше структурирован. Он состоит из трех точек, две из которых соединены между собой. Они воплощают собой взаимодействие между нашим программным обеспечением, организациями, с которыми мы работаем, и их сообществами.</p>

<p>Мы хотим подчеркнуть важность прочности отношений между организациями и их членами, т.к. это и есть наша главная цель.</p>

<p>Наша новая цветовая гамма добавляет силы и ясности нашей позиции, делая ее более понятной и открытой для широкой аудитории.</p>

<p>Наш новый шрифт Ubuntu. Разработанный для открытого доступа как шрифт сообществ, Ubuntu представляет нашу миссию и раскрывает наш характер как нельзя лучше.</p>

<p>Новый логотип будет обновлен на платформе и в мобильных приложениях. Системные email-уведомления также теперь будут содержать в себе новый логотип Glue Up. Вы можете загрузить адаптивные версии нового  логотипа в различных цветовых решениях и узнать больше о том, как использовать новые логотипы в наших новых руководствах по продвижению торговых марок.</p>

<div class="alert alert-light" role="alert">
								  <i class="bullet-icon icon-documents px-0" style="background-color:transparent; color:#0D62FE; position: absolute; align-self: center; margin: -20px 0 0 -5px;"></i>    
							<span style="margin-left: 40px; color:#0D62FE;"> <a style="color:#0D62FE;" href="https://eventbank-my.sharepoint.com/:u:/g/personal/alex_eventbank_com1/EfcsR2KqOatBtlPsdzfp6fgBptjRd1JRp-ocTClrEkW7Ng">Загрузить инструкции по визуальной идентификации и форматы логотипов Glue Up</a></span>
							</div>

<h5 id="item-1-3" class="pt-5">Наш сайт</h5>
<img src="{{ 'web@2x.png' | media }}" class="rounded mb-3" alt="glueup.ru">
<p>Дизайн нашего нового сайта <a href="https://www.glueup.ru"><span style=" align-self: center;">glueup.ru</span></a> (http://glueup.ru/) соответствует новому направлению развития бренда. На нем Вы найдете полную информацию о наших продуктах и их возможностях, направлениях, с которыми мы работаем, а также множество другой полезной информации.</p>

<h5 id="item-1-3" class="pt-5">Новый «Мой Glue» платформа для взаимодействия</h5>

<img src="{{ 'user-intro-step2-en@2x.png' | media }}" class="rounded mb-3" alt="My Glue ">
<p>Мы обновили Вашу личную страницу (ранее Мой EventBank), где, как и прежде, Вы можете устанавливать индивидуальные настройки, а также использовать весь ранее доступный функционал. Откройте для себя его здесь:</p>

<div class="row">
  <div class="col-md-3 mx-auto text-center">
  <a class="btn btn-primary btn-round-full pointer mx-auto" style="padding: .5rem 1rem;" href="https://www.glueup.ru/my/home/"><span style=" align-self: center;">Посетите «Мой Glue»</span></a>
  </div>
  </div>


</div>
	            	
	            
	            	</div>
            	</div>
            				
           	</div>
        </div>
</section>
<section id="same" class="section ">
        <div class="container">
            <div class="row flex-row">
                <div class="col-lg-8 d-flex align-items-center text-center mx-auto">
                    <p class="mb-4 sentence mx-auto">Что <span class="line"><ins> не</ins></span> меняется</p>
                </div>
            </div>
        </div>
</section>

<section  class="section pt-0">
        <div class="container">
            <div class="row justify-content-center">
            
            	<div class="col-md-8 pt-4 mx-auto">
	            		
<div data-spy="scroll" data-target="#navbar-example3" data-offset="80">

<h5 id="item-11-1"  class="pt-5">Наша миссия</h5>
<p><span style="color:#001C6C;">Glue Up</span> наследует основные ценности EventBank – содействовать успешному взаимодействию профессиональных сообществ, Ваш успех – наша миссия. Мы верим, что с помощью нового имени мы сможем лучше донести основные преимущества наших решений. Мы трансформируем пути, <span style="color:#001C6C;">которые позволяют профессиональным сообществам выстраивать эффективные взаимоотношения. </span>.</p>

<h5 id="item-11-1"  class="pt-5">Наш сервис</h5>
<p>Нашу команду представляют специалисты из 20 стран, которые стремятся обеспечить высочайший уровень технологий, инноваций и услуг для каждого клиента. Наша команда технической поддержки прилагает все усилия для обеспечения высочайшего уровня обслуживания и стабильности работы системы. Glue Up с еще большим желанием продолжит обновления и наращивание функционала нашей платформы «всё-в-одном», используя наш новый бренд, с неизменно качественным результатом!</p>

<h5 id="item-11-1"  class="pt-5">Наши обязательства</h5>

<p>Мы глубоко ценим наших клиентов, партнеров и профессиональные сообщества по всему миру, и нацелены сделать всё для того, чтобы  каждый человек и организация, использующие наши технологии, получили все необходимые инструменты для достижения успеха.</p>

<p>Современные технологии меняют возможности взаимодействия и способы получения информации. Многие организации остаются позади, не успевая за временем и новыми технологиями ведения бизнеса, в результате чего испытывают трудности с привлечением и получением дохода. Программное обеспечение Glue Up «всё-в-одном»  способно обратить вспять эту тенденцию и обеспечить организациям возможность оставаться на вершине технологических тенденций, формирующих наш мир сегодня и завтра.</p>

<h5 id="item-11-1"  class="pt-5">Договор и название организации</h5>

<p>Перезаключения договоров не потребуется, так как наше юридическое лицо не меняется. Подробную информацию можно найти на странице <a href="{{ 'legal/terms-and-conditions-organizations'|page }}">"Условия использования для организаций"</a>.</p>



</div>
	            	
	            
	            	</div>
            	</div>
            				
           	</div>
        </div>
</section>

<section id="org"  class="section ">
        <div class="container">
            <div class="row flex-row">
                <div class="col-lg-8 d-flex align-items-center text-center mx-auto">
                    <p class="mb-4 sentence mx-auto">Какие изменения произойдут для Вас <span class="line"><ins> как для организации</ins></span>? </p>
                </div>
            </div>
        </div>
</section>
<section class="section pt-0">
        <div class="container">
            <div class="row justify-content-center">
            	<div class="col-md-8 pt-4 mx-auto">
	            		
<div data-spy="scroll" data-target="#navbar-example3"  data-offset="80">

<h5 id="item-2-1">Что изменится для Вашей организации?</h5>

<p>Все страницы ваших мероприятий, email-кампании и другие ссылки будут автоматически перенаправлены на новые страницы на новом домене, который мы вводим в действие, без каких бы то ни было сбоев и задержек. Если вы используете API-интеграцию, то необходимо изменить некоторые настройки в соответствии с инструкцией.</p>

<p>Если вы используете API-интеграцию, то необходимо изменить некоторые настройки в <a class="" href="#item-2-10">соответствии с инструкцией</a>.</p>




<h5 id="item-2-2" class="pt-5">Что произойдет с опубликованными мероприятиями?</h5>
<p>Все опубликованные мероприятия будут автоматически перенаправлены на новые ссылки. Вам не нужно изменять какие-либо ссылки, даже если вы продвигали свои мероприятия на сторонних сайтах или в социальных сетях – все они продолжат свою работу. При желании, ссылки можно обновить, но это не обязательно.</p>
<h5 id="item-2-3" class="pt-5">Что произойдет, если определенные страницы EventBank уже привязаны к корпоративному сайту моей организации?</h5>
<p>Посетители будут автоматически перенаправлены на соответствующую страницу на сайте Glue Up. Ссылки можно обновить, но это не обязательно.</p>
<h5 id="item-2-4" class="pt-5">Продолжит ли работу интеграция профессиональных аккаунтов Zoom и/или Google Analytics?</h5>
<p>Если вы используете в вашей работе с EventBank какие-либо интегрированные решения, они не потребуют обновления, вы можете продолжить их использование без изменения настроек. </p>
<h5 id="item-2-5" class="pt-5">Что делать, если я использую для e-mail рассылки домен EventBank в качестве отправителя?</h5>
<p>Если Вы уже используете домен отправителя (т.е. example@companyname.eventbankmail.com), пока мы постеменно не переключимся на новый домен, Ваш домен отправителя остаётся без изменений. Мы проинформируем Вас заранее, если с вашей стороны потребуются какие-либо действия. Мы начнём немедленный переход на новый домен отправителя для все новых пользователей (т.е.  example@yourcompanyname.glueupmail.com)</p>
<p>Домен отправителя будет автоматически обновлен 07 сентября 2020 года на example@companyname.glueupmail.com</p>
<h5 id="item-2-6" class="pt-5 pb-2">Какие изменения произойдут с мобильным приложением EventBank?</h5> 
<img src="{{ 'manager-app@2x.png' | media }}" class="rounded mb-3" alt="Glue Up Manager App ">
<p>Мобильное приложение EventBank Manager меняет свое название на Manager Up. Вам будет необходимо обновить установленное у Вас приложение EventBank Manager в App Store или Google Play. После чего снова войдите в приложение, выберите соответствующий сервер и начните работать с платформой.</p>
 <div class="row">
  <div class="col-md-5 mx-auto">
  <a class="btn btn-primary btn-round-full pointer d-flex center-block mx-auto" style="padding: .5rem 1rem;" href="https://apps.apple.com/us/app/eventbank-manager/id740353437"><i class="icon-apple" style="    font-size: 30px; margin-right:10px; align-self: center;"></i><span style=" align-self: center;">Manager в App Store</span></a>
  <a class="btn btn-primary btn-round-full pointer d-flex center-block mx-auto mt-3"  style="padding: .5rem 1rem;" href="https://play.google.com/store/apps/details?id=com.eventbank.android"><i class="icon-android" style="    font-size: 30px; margin-right:10px; align-self: center;"></i><span style=" align-self: center;">Manager в Google Play Store</span></a></div>
  </div>
<h5 id="item-2-8" class="pt-5">Что будет с моим договором c EventBank?</h5>
<p>Никаких изменений не требуется, поскольку наше юридическое лицо остается прежним. </p>
<h5 id="item-2-9" class="pt-5">EventBank поглотила другая организация?</h5>
<p>Нет, в EventBank не произошло слияния или поглощения другой организацией. </p>
<h5 id="item-2-10" class="pt-5">Как обновить EventBank API?</h5>

<p>Если Вы интегрировали с вашим корпоративным сайтом части нашей платформы через EventBank API, обязательно обновите конечные точки соединения с EventBank на Glue Up (страница будет перенаправлена на соответствующий сервер на .COM/.CN/.RU).</p> <p>Не забудьте обновить конечные точки соединения в течении месяца после релиза Glue Up, так как временное перенаправление конечных точек будет потом прекращено.</p>
<div class="alert alert-warning" role="alert">
								  <i class="bullet-icon icon-alert px-0" style="background-color:transparent; color:#FF8100; position: absolute; align-self: center; margin: -20px 0 0 -5px;"></i>    
							<span class="font-weight-light d-block" style="margin-left: 40px;">Если вы используете наш API, Вам необходимо обновить конечные точки до <span style="color:#FB3640;">30 сентября 2020 г</span>.</span>
							</div>
<p><a href="https://glueupapi.docs.apiary.io/">Документация Glue Up API.</a>.</p>
<p>Ниже приведено пошаговое руководство по обновлению API для перехода от EventBank к Glue Up:<br>
<div class="pl-3">
<p>• В API файлах на EventBank.php измените часть переменной *$API _ endpoint* с "eventbank.ru" на "glueup.ru".</p>
<p>• В любом коде, который перенаправляет пользователя с вашего веб-сайта на EventBank (Glue Up), измените URL-адреса, содержащие "eventbank.ru", на "glueup.ru."</p>
<p>• В коде виджетов измените URL-адреса, содержащие "eventbank.ru", на "glueup.ru (http://glueup.ru)".</p>
</div>
<p>Пожалуйста, <a href="#support" value="Submit" id="support-link" input-type="submit" data-toggle="modal" data-target="#support">свяжитесь с нами</a> или напишите на support@glueup.com или support@eventbank.com, если вам требуется дополнительная помощь.</p>


</div>
	            	
	            
	            	</div>
            	</div>
            				
           	</div>
        </div>
</section>
<section  id="user" class="section ">
        <div class="container">
            <div class="row flex-row">
                <div class="col-lg-8 d-flex align-items-center text-center mx-auto">
                    <p class="mb-4 sentence mx-auto">Что изменится для вашего профессионального <span class="line"><ins> сообщества</ins></span>?</p>
                </div>
            </div>
        </div>
</section>

<section class="section pt-0">
        <div class="container">
            <div class="row justify-content-center">
            	<div class="col-md-8 pt-4 mx-auto">
	            		
<div data-spy="scroll" data-target="#navbar-example3" data-offset="80">

<h5 id="item-3-1">Сведения для входа в систему</h5>

<p>25 августа 2020 года для пользования нашей платформой Вам будет необходимо <a href="https://glueup.ru/account/login">войти</a> в систему Glue Up (https://glueup.ru/account/login) и использовать свои прежние учетные данные для авторизации. Вся информация, хранящаяся в «Мой EventBank», такая как: прошедшие мероприятия, рассылки, база данных, и т.д. будут доступны в Вашем личном кабинете <span style="color:#001C6C;">My Glue</span>. Аналогичная ситуация актуальна для всех зарегистрированных пользователей.</p>


<h5 id="item-3-2" class="pt-5">Как сообщить об изменениях моим членам, участникам и другим заинтересованным сторонам?</h5>

<p>Как и при любых изменениях, важно объяснить членам вашего сообщества технический процесс переключения и быть готовым ответить на вопросы, которые у них могут возникнуть. Чтобы Вам было легче, мы подготовили материалы, <a  href="hhttps://www.eventbank.com/organization/170/campaign/51296/">email-рассылку</a> с основной информацией, которую вы можете использовать для информирования своих членов.</p>

<h5 id="item-3-3" class="pt-5 pb-2">Мобильное приложение: My Glue (для членов сообщества)</h5>
<img src="{{ 'my-glue@2x.png' | media }}" class="rounded mb-3" alt="Glue Up Manager App ">
<p>Приложение EventBank для участников теперь называется My Glue. Если вы уже загружали приложение EventBank, то вам больше не нужно ничего устанавливать или загружать, просто обновите приложение EventBank в App Store или Google Play. Затем снова войдите в систему, выберите соответствующий сервер и общайтесь с организацией из любого места.
 <div class="row">
  <div class="col-md-5 mx-auto">
  <a class="btn btn-primary btn-round-full pointer d-flex center-block mx-auto" style="padding: .5rem 1rem;" href="https://apps.apple.com/us/app/eventbank/id958545893"><i class="icon-apple" style="    font-size: 30px; margin-right:10px; align-self: center;"></i><span style=" align-self: center;">My Glue в App Store</span></a>
  <a class="btn btn-primary btn-round-full pointer d-flex center-block mx-auto mt-3"  style="padding: .5rem 1rem;" href="https://play.google.com/store/apps/details?id=com.eventbank.android.attendee"><i class="icon-android" style="    font-size: 30px; margin-right:10px; align-self: center;"></i><span style=" align-self: center;">My Glue в Google Play Store</span></a></div>
  </div>

<h5 id="item-3-4" class="pt-5">Что я должен сообщить своим членам/участникам мероприятий/другим заинтересованным сторонам?</h5>
<p>25 августа 2020 года при входе на платформу по адресу www.eventbank.ru будет произведено автоматическое перенаправление на новую страницу входа в систему на сайте Glue Up  <a href="https://glueup.ru/account/login">войти</a> (https://glueup.ru/account/login), на которой будет размещена информация о произошедших изменениях, и где пользователи смогут войти в систему, используя свои прежние учетные данные, которые они использовали для EventBank. Перенаправление будет выполняться автоматически, поэтому вам не нужно предпринимать никаких действий.</p>
<h5 id="item-3-5" class="pt-5">Я член организации, что произойдет с моим профилем?</h5>
<p>Если вы являетесь членом организации, вам необходимо войти в систему Glue Up <a href="https://glueup.ru/account/login">войти</a> (https://glueup.ru/account/login). Вся информация о статусе Вашего членства, а также вся ранее сформированная информация будет как и прежде доступна в Вашем личном кабинете. Если вы получали сообщения по электронной почте о подаче заявки на членство или его продлении, Вы по-прежнему можете перейти по этим ссылкам, они будут автоматически переадресованы на новый домен "Glue Up".</p>
<h5 id="item-3-6" class="pt-5">Я регистрировался на мероприятие, что произойдет с моей регистрацией на предстоящие и прошедшие мероприятия?</h5>
<p>Если Вы зарегистрировались для участия на мероприятие, Вы можете получить доступ к своим регистрациям <a href="https://glueup.ru/account/login">войти</a>  в систему Glue Up (https://glueup.ru/account/login), где будет доступен Ваш профиль и вся информация, связанная с Вашей учетной записью, например, прошедшие мероприятия, членство, подписки.</p>

</div>
	            	
	            
	            	</div>
            	</div>
            				
           	</div>
        </div>
</section>
