[viewBag]
==
<section id="us" class="section ">
        <div class="container">
            <div class="row flex-row">
                <div class="col-lg-8 d-flex align-items-center text-center mx-auto">
                    <p class="mb-4 sentence mx-auto">Qué <span class="line"><ins> cambia </ins></span></p>
                </div>
            </div>
        </div>
</section>
<section class="section pt-0">
        <div class="container">
            <div class="row justify-content-center">
            
            	<div class="col-md-8 pt-4 mx-auto">
	            		
<div data-spy="scroll" data-target="#navbar-example3" data-offset="0">

<h5 id="item-1-1">Una nueva marca</h5>
<img src="{{ 'glueup-community-feature.svg' | media }}" class="paygage-visual py-2" style="max-height: 300px; width: auto;" alt="logo">
<p>¡EventBank ahora es Glue Up! EventBank ha transformado comunidades profesionales a través de soluciones digitales enfocándonos en automatización y comunicación desde el 2013. El nuevo nombre, <span style="color:#001C6C;">Glue Up</span>  representa el poder de nuestras soluciones, nuestro crecimiento y compromiso de hacer de sus comunidades, interacción y comunicación nuestra prioridad y así hacer de su éxito nuestra misión.</p>

<p>Hoy, nuestra plataforma apoya a organizaciones en más de 50 países del mundo, revolucionando la manera de crear y enriquecer relaciones a largo plazo con un mayor valor comercial. </p>

<p> Con una plataforma SaaS intuitiva, Glue Up es el proveedor leader en soluciones en la nube que ofrece a Asociaciones, Organizadores de Eventos, Cámaras de Comercio, Empresas y ONGs un conjunto completo de herramientas diseñadas para facilitar operaciones, modernizar procesos y eliminar los retos de comunicación e interacción.</p>





<h5 id="item-1-2" class="pt-5">El nuevo logo de Glue Up </h5>
<img src="{{ 'assets/images/glueup-logo-en.svg' | theme }}" class="paygage-visual py-5 px-5" style="max-height: 300px; width: auto;" alt="logo">
<p>Nuestro nuevo logo es más sencillo y estructurado. Se compone de tres puntos, dos de ellos interconectados que representan la relación entre nuestro software, las organizaciones con las que trabajamos y sus comunidades. </p>

<p>Queremos transmitir la importancia de la relación entre las organizaciones (nuestros clientes) y sus miembros, ya que fortalecer esas relaciones es nuestra misión en Glue Up. </p>

<p>Nuestra nueva paleta de colores, trae fuerza y claridad a nuestra comunicación, facilitando la lectura y comprensión para todos nuestros usuarios. </p>

<p>Ubuntu es nuestra nueva fuente, que es simple y universal como la plataforma de Glue Up. Elegimos Ubuntu ya que por sus características enfatiza nuestro enfoque en las comunidades y sociedades abiertas. </p>

<p>El nuevo logo se actualizará automáticamente tanto en la plataforma como en aplicaciones móviles. Nuestros correos también incluirán el nuevo logo. Puedes descargar nuestro logo en versión web en color negro, blanco y color además de  múltiples formatos y tener los detalles en nuestro Manual de Marca. </p>

<div class="alert alert-light" role="alert">
								  <i class="bullet-icon icon-documents px-0" style="background-color:transparent; color:#0D62FE; position: absolute; align-self: center; margin: -20px 0 0 -5px;"></i>    
							<span style="margin-left: 40px; color:#0D62FE;"> <a style="color:#0D62FE;" href="https://eventbank-my.sharepoint.com/:u:/g/personal/alex_eventbank_com1/EfcsR2KqOatBtlPsdzfp6fgBptjRd1JRp-ocTClrEkW7Ng">Descarga nuestro Manual de Marca y Formatos de Logo </a></span>
							</div>

<h5 id="item-1-3" class="pt-5">Página Web </h5>
<img src="{{ 'web@2x.png' | media }}" class="rounded mb-3" alt="Glueup.com">
<p>Nuestro nuevo sitio, <a href="https://www.glueup.com"><span style=" align-self: center;">glueup.com</span></a> es consistente con la nueva dirección  de nuestra marca. Ahí, encontrarás información de nuestros productos, funcionalidades, industrias con las que trabajamos y recursos valiosos que te ayudarán a mejorar.</p>

<h5 id="item-1-3" class="pt-5"> “My Glue” Engagement Hub</h5>

<img src="{{ 'user-intro-step2-en@2x.png' | media }}" class="rounded mb-3" alt="My Glue ">
<p>"My Glue" (antes My EventBank) es un nuevo espacio digital para tu comunidad donde pueden compartir ideas, discutir diversos temas y socializar, incluso cuando el contacto en persona no sea una opción. Además, en My Glue estarán disponibles todos tus eventos, suscripciones y membresías de Glue Up, así tus miembros y asistentes a eventos encontrarán la información que necesitan de manera rápida y sencilla.</p>

<div class="row">
  <div class="col-md-3 mx-auto text-center">
  <a class="btn btn-primary btn-round-full pointer mx-auto" style="padding: .5rem 1rem;" href="https://www.glueup.com/my/home/"><span style=" align-self: center;">Visita "My Glue"</span></a>
  </div>
  </div>


</div>
	            	
	            
	            	</div>
            	</div>
            				
           	</div>
        </div>
</section>
<section id="same" class="section ">
        <div class="container">
            <div class="row flex-row">
                <div class="col-lg-8 d-flex align-items-center text-center mx-auto">
                    <p class="mb-4 sentence mx-auto">Qué <span class="line"><ins> no </ins></span> cambia</p>
                </div>
            </div>
        </div>
</section>

<section  class="section pt-0">
        <div class="container">
            <div class="row justify-content-center">
            
            	<div class="col-md-8 pt-4 mx-auto">
	            		
<div data-spy="scroll" data-target="#navbar-example3" data-offset="80">

<h5 id="item-11-1"  class="pt-5">Nuestra Misión </h5>
<p><span style="color:#001C6C;">Glue Up</span> hereda de EventBank el enfoque de hacer de las comunidades e interacciones para hacer de tú éxito sea nuestra misión. Creemos que nuestro nuevo nombre comunica de mejor manera lo que hacemos y cómo logramos nuestra misión de <span style="color:#001C6C;">transformar la manera en que las comunidades enriquecen e impulsan relaciones</span>.</p>

<h5 id="item-11-1"  class="pt-5">Nuestro Servicio    </h5>
<p>Contamos con expertos de 20 países, dedicados a proveer innovación y servicio del más alto nivel a cada cliente. Nuestro equipo de Atención al cliente alrededor del mundo trabaja arduamente para ofrecer un servicio y soporte sin igual para asegurar ell éxito de nuestros clientes. Continuaremos mejorando y lanzando nuevas funcionalidades con el mismo empeño y profesionalismo que hemos tenido a través de los años. </p>

<h5 id="item-11-1"  class="pt-5">Nuestro Compromiso </h5>

<p>En <span style="color:#001C6C;">Glue Up</span> estamos profundamente comprometidos con nuestros clientes, socios y comunidades profesionales en el mundo en crear un mundo donde cada persona y organización pueda usar nuestra tecnología para crear oportunidades de éxito.   </p>

<p>Sabemos que la tecnología ha cambiado la manera en que las empresas y personas interactuamos y recibimos información. Muchas organizaciones se han quedado atrás, por lo que se han enfrentado con  muchos retos para comunicarse, interactuar y generar ingresos. El Software todo-en-uno de Glue Up permite revertir esta tendencia y ofrecer a todas las organizaciones la manera de mantenerse al corriente con las tendencias tecnológicas que están cambiando el mundo.</p>

<h5 id="item-11-1"  class="pt-5">Tu Convenio y Nuestras Entidades Legales</h5>

<p>No habrán modificaciones a los acuerdos firmados con EventBank ya que mantendremos la misma entidad legal. “Glue Up” se refiere a  Glue Up, Inc. o EventBank Inc., y sus afiliados y subsidiarias. En la sección de <a href="{{ 'legal/terms-and-conditions-organizations'|page }}"> Términos y Condiciones para Organizaciones </a> puedes encontrar los detalles de nuestras entidades. </p>



</div>
	            	
	            
	            	</div>
            	</div>
            				
           	</div>
        </div>
</section>

<section id="org"  class="section ">
        <div class="container">
            <div class="row flex-row">
                <div class="col-lg-8 d-flex align-items-center text-center mx-auto">
                    <p class="mb-4 sentence mx-auto">Qué cambia <span class="line"><ins> para tí</ins></span> como organización</p>
                </div>
            </div>
        </div>
</section>
<section class="section pt-0">
        <div class="container">
            <div class="row justify-content-center">
            	<div class="col-md-8 pt-4 mx-auto">
	            		
<div data-spy="scroll" data-target="#navbar-example3"  data-offset="80">

<h5 id="item-2-1">¿Qué impacto tendrá en mi organización? </h5>

<p>Todos los sitios de eventos, campañas y otros enlaces serán dirigidos <strong>automáticamente</strong> al sitio correspondiente en el nuevo dominio, para asegurar una buena experiencia. Si los usuarios intentan accesar a su cuenta utilizando enlaces de EventBank, serán dirigidos a la nueva página de Glue Up.</p>

<p>Si estás usando nuestra API puedes encontrar <a class="" href="#item-2-10">las instrucciones abajo</a>.</p>




<h5 id="item-2-2" class="pt-5">¿Qué pasará con mis eventos publicados?</h5>
<p>Todos los eventos publicados serán dirigidos automáticamente a enlaces nuevos. Si has compartido tus eventos en tu página oficial o en redes sociales no es necesario modificar los enlaces.</p>
<h5 id="item-2-3" class="pt-5">¿Qué debo hacer si he enlazado sitios de EventBank en mi sitio web? </h5>
<p>Estos en laces serán dirigidos automáticamente al sitio correspondiente n Glue Up. Si prefieres, puedes actualizar los enlaces, pero no es necesario. </p>
<h5 id="item-2-4" class="pt-5">¿Qué pasa si tengo integraciones como Xero, Quickbooks, Zoom o Google Analytics? </h5>
<p>Si estás usando alguna de estas integraciones en EventBank no tendrás que actualizarlas, las podrás seguir usando en tu nueva sesión. </p>
<h5 id="item-2-5" class="pt-5">¿Qué debo hacer si estoy usando un dominio de remitente de EventBank? What if I am using an EventBank sender domain?</h5>
<p>Este dominio será actualizado automáticamente a abc.xyz@nombredelaempresa.glueupmail.com Este cambio será efectivo el 7 de Septiembre, 2020. </p>
<h5 id="item-2-6" class="pt-5 pb-2">¿Qué pasará con mi aplicación móvil de EventBank Manager? </h5> 
<img src="{{ 'manager-app@2x.png' | media }}" class="rounded mb-3" alt="Glue Up Manager App ">
<p>La aplicación de Administrador EventBank Manager, ahora será Glue Up Manager. Si ya has descargado la aplicación EventBank Manager no necesitas instalar o descargar nada, simplemente actualízala desde tu App Store o Google Play e inicia sesión y selecciona tu servidor para manejar tu comunidad en la palma de tu mano.  
 <div class="row">
  <div class="col-md-5 mx-auto">
  <a class="btn btn-primary btn-round-full pointer d-flex center-block mx-auto" style="padding: .5rem 1rem;" href="https://apps.apple.com/us/app/eventbank-manager/id740353437"><i class="icon-apple" style="    font-size: 30px; margin-right:10px; align-self: center;"></i><span style=" align-self: center;">Glue Up Manager en la App Store</span></a>
  <a class="btn btn-primary btn-round-full pointer d-flex center-block mx-auto mt-3"  style="padding: .5rem 1rem;" href="https://play.google.com/store/apps/details?id=com.eventbank.android"><i class="icon-android" style="    font-size: 30px; margin-right:10px; align-self: center;"></i><span style=" align-self: center;">Glue Up Manager en Google Play</span></a></div>
  </div>
<h5 id="item-2-8" class="pt-5">¿Qué pasará con mi contrato con EventBank? </h5>
<p>Mantendremos las mismas entidades legales, por lo que no será necesario hacer modificaciones a los contratos.  </p>
<h5 id="item-2-9" class="pt-5">¿Fué EventBank adquirido por otra empresa? </h5>
<p>No, EventBank no fue adquirido por ninguna empresa.   </p>
<h5 id="item-2-10" class="pt-5">Cómo actualizar tu API de EventBank?</h5>

<p>Si hiciste alguna integración de tu sitio web a nuestra plataforma via EventBank API, asegúrate de actualizarla de EventBank a Glue Up (el sitio estará dirigiendo al servidor correspondiente en .COM/.CN/.RU).</p> <p>Asegúrate de hacer esta actualización antes del 30 de septiembe, 2020 ya que este día dejaremos de redirigir al nuevo sitio. </p>
<div class="alert alert-warning" role="alert">
								  <i class="bullet-icon icon-alert px-0" style="background-color:transparent; color:#FF8100; position: absolute; align-self: center; margin: -20px 0 0 -5px;"></i>    
							<span class="font-weight-light d-block" style="margin-left: 40px;">Si estas usando nuestra API asegúrate de hacer esta actualización antes del <span style="color:#FB3640;"> 30 de septiembe, 2020</span> ya que este día dejaremos de redirigir al nuevo sitio.</span>
							</div>
<p>Aquí encontrarás la documentación de <a href="https://glueupapi.docs.apiary.io/">Glue Up API</a>.</p>
<p>Esta es una guía paso a paso que te ayudará a hacer la migración a Glue Up: <br>
<div class="pl-3">
<p>• Desde API files, en EventBank.php, actualiza la variable *$API_endpoint* from “eventbank.com/cn/ru" to “glueup.com/cn/ru” (http://glueup.com/cn/ru%E2%80%9D).</p>
<p>• Si los códigos que dirigen a los usuarios de tu sitio a EventBank (Glue Up), actualiza todas las URL que contienen “eventbank.com/cn/ru" a “glueup.com/cn/ru” (http://glueup.com/cn/ru%E2%80%9D) respectively.</p>
<p>• En todos los códigos de widget, actualiza las URL que contienen “eventbank.com/cn/ru" to “glueup.com/cn/ru (http://glueup.com/cn/ru) (http://glueup.com/cn/ru).“</p>
</div>
<p>Si requieres soporte adicional  <a href="#support" value="Submit" id="support-link" input-type="submit" data-toggle="modal" data-target="#support">contáctanos</a> o mándanos un correo a support@glueup.com o support@eventbank.com.</p>


</div>
	            	
	            
	            	</div>
            	</div>
            				
           	</div>
        </div>
</section>
<section  id="user" class="section ">
        <div class="container">
            <div class="row flex-row">
                <div class="col-lg-8 d-flex align-items-center text-center mx-auto">
                    <p class="mb-4 sentence mx-auto">Qué cambia para tu <span class="line"><ins> comunidad</ins></span></p>
                </div>
            </div>
        </div>
</section>

<section class="section pt-0">
        <div class="container">
            <div class="row justify-content-center">
            	<div class="col-md-8 pt-4 mx-auto">
	            		
<div data-spy="scroll" data-target="#navbar-example3" data-offset="80">

<h5 id="item-3-1">Página de Inicio </h5>

<p>El 24 de Agosto del 2020 cerraremos la sesión de todos nuestros usuarios a la plataforma. Para volver a iniciar tu sesión en <a href="https://glueup.com/login">log in</a> (https://glueup.com/login) simplemente utiliza tu usuario y contraseña anterior. Toda tu información de “My EventBank” como eventos anteriores, campañas y membresías estarán disponibles en “<span style="color:#001C6C;">My Glue</span>”, lo mismo aplicará para todos los usuarios registrados.</p>


<h5 id="item-3-2" class="pt-5">¿Cómo comunico este cambio a mis miembros, invitados y otros involucrados?</h5>

<p>Como en cualquier cambio, es importante explicar el impacto que esta  transición tendrá en tu comunidad y contestar cualquier pregunta que puedan tener. Para hacer esto más fácil para tí, hemos creado <a  href="https://www.eventbank.com/organization/170/campaign/51293/"> un ejemplo de campaña de correo</a> con los detalles más importantes, que puedes usar para informar a tu comunidad de Glue Up y lo que implica para ellos. Puedes editar la información para personalizar tu propio anuncio.</p>

<h5 id="item-3-3" class="pt-5 pb-2">¿Qué cambiara en la aplicación móvil EventBank App para asistentes y miembros? </h5>
<img src="{{ 'my-glue@2x.png' | media }}" class="rounded mb-3" alt="Glue Up Manager App ">
<p> La aplicación de EventBank para asistentes a eventos y miembros ahora es My Glue. Si ya has descargado la aplicación de EventBank no necesitas instalar o descargar nada, simplemente actualízala desde tu App Store o Google Play. Después, inicia sesión y selecciona tu servidor para interactuar con tu comunidad desde cualquier lugar. </p>
 <div class="row">
  <div class="col-md-5 mx-auto">
  <a class="btn btn-primary btn-round-full pointer d-flex center-block mx-auto" style="padding: .5rem 1rem;" href="https://apps.apple.com/us/app/eventbank/id958545893"><i class="icon-apple" style="    font-size: 30px; margin-right:10px; align-self: center;"></i><span style=" align-self: center;">My Glue en la App Store</span></a>
  <a class="btn btn-primary btn-round-full pointer d-flex center-block mx-auto mt-3"  style="padding: .5rem 1rem;" href="https://play.google.com/store/apps/details?id=com.eventbank.android.attendee"><i class="icon-android" style="    font-size: 30px; margin-right:10px; align-self: center;"></i><span style=" align-self: center;">My Glue en Google Play</span></a></div>
  </div>

<h5 id="item-3-4" class="pt-5">¿Qué debo comunicar a mis miembros/asistentes a eventos/otros involucrados? </h5>
<p>El 24 de agosto, 2020 tus miembros, asistentes a eventos y otros usuarios serán dirigidos a la nueva sesión de inicio en <a href="https://glueup.com/login">login page</a> (https://glueup.com/login) donde verán información de los cambios y podrán iniciar sesión usando el mismo usuario y contraseña que usaban en EventBank. La dirección será automática, por lo que no necesitas tomar acción.</p>
<h5 id="item-3-5" class="pt-5">Soy miembro de una organización ¿qué pasará con mi perfil?</h5>
<p>Si eres miembro de una organización debes iniciar tu sesión desde la página de <a href="https://glueup.com/login">log in</a>. Tu información general y acceso a la información de tus organizaciones estarán disponibles ahí. Si has recibido correos para aplicar o renovar una membresía, todavía puedes ingresar a esos enlaces y serás redireccionado a la página correspondiente de Glue Up para concluir el proceso.</p>
<h5 id="item-3-6" class="pt-5">Estoy registrado a un evento ¿qué pasa con mis registros pasados y futuros?</h5>
<p>Si te has registrado en algún evento, todavía podrás ingresar a tus registros vía My Glue. Tendrás que iniciar sesión desde <a href="https://glueup.com/login">log in</a> (https://glueup.com/login), donde encontrarás tu perfil y toda la información relacionada a tu cuenta.</p>

</div>
	            	
	            
	            	</div>
            	</div>
            				
           	</div>
        </div>
</section>