[viewBag]

[genericForm whitepaperform]
messages_success = "Your form was successfully submitted"
messages_errors = "There were errors with your submission"
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
emails_date_format = "Y-m-d"
==
<header id="hero" style="min-height:100vh; height:100%;">
	<div class="container pt-5">
		<div class="row">
			<div class="col-md-6 hero align-self-top text-md-left text-center">
				<p class="tagline pb-3 primary">Whitepaper</p>
				<h1>{{ whitepapertitle }}</h1>

				{{ whitepaperdes |raw }}
				
				</div>
			<div class="col-md-6 hero align-self-top text-md-left text-center">
				<div class="glue-up-form shadow-sm px-5 py-5" style="background:#fff;">
					{% component 'whitepaperform' %}
				</div></div></div></div>
</header>
{#<div class="container pt-5">
	<div class="col-lg-10 mx-auto">
		<div class="row">
			<!--{% partial 'elements/logobar.htm' %}-->
			<br>
		</div></div></div>#}