description = "membership bullets for features"
==
<div class="col-lg-10 align-self-center mx-auto">
    <div class="services__accordion row flex-row-reverse">
            <div class="col-md-7 align-self-center" style="margin-bottom:50px;">
				<div class="accordion__img desktop">
				    <div id="tab1-bullet-img" class="firstshow">
				        <img class="feature-window desktop" src="{{ 'all-in-one.svg' | media }}" alt="chat">
				         
				    </div>
				    <div id="tab2-bullet-img">
				        <img class="feature-window deskto" src="{{ 'assets/images/preview.svg' | theme }}" alt="chat">
				    </div>
			        <div id="tab3-bullet-img">
    			        <img class="feature-window deskto" src="{{ 'assets/images/preview.svg' | theme }}" alt="chat">
    			    </div>
			     </div>
			</div>
			<div class="col-md-5 align-self-center" style="margin-bottom:50px;">
				<div class="services__accordion">
				  
                    <div class="accordion pl-3 active small dropdown-item with-icon pointer" tab-name="tab1-bullet">
                        <i class="icon-button"></i>
                        <span>{{ 'Make It Easy For Everyone'|_ }}</span>
                        <div class="accordion__body firstshow" style="display:none;">
							<p class="pt-3 d-flex flex-column">{{ 'Premium user experience battle-tested for your and all your members’ absolute comfort.'|_ }}
							{#<a href="{{ 'blog'|page }}" class="read-more pt-3">Learn More</a>#}</p>
						</div>
                    </div>
                    <div class="accordion pl-3 small dropdown-item with-icon pointer" tab-name="tab1-bullet">
                        <i class="icon-engagement"></i>
                        <span>{{ 'Engage Your Members'|_ }}</span>
                        <div class="accordion__body " style="display:none;">
							<p class="pt-3 d-flex flex-column">{{ 'Gain instant visibility into engagement and performance with interactive dashboards and profiles. '|_ }}
							{#<a href="{{ 'blog'|page }}" class="read-more pt-3">Learn More</a>#}</p>
						</div>
                    </div>
                    <div class="accordion pl-3 small dropdown-item with-icon pointer" tab-name="tab3-bullet">
                        <i class="icon-mobile-check"></i>
                        <span>{{ 'Stay Engaged, Anywhere'|_ }}</span>
                        <div class="accordion__body " style="display:none;">
							<p class="pt-3 d-flex flex-column">{{ 'You and your members are doing more and more work from mobile, so software comes with two mobile apps - one for you and one for your members. '|_ }}
							{#<a href="{{ 'blog'|page }}" class="read-more pt-3">Learn More</a>#}</p>
						</div>
                    </div>
				</div>
			</div>
			
		</div>
</div>