description = "membership tabs partial"
==
<div class="services__accordion row">
			<div class="col-md-5 align-self-center" style="margin-bottom:50px;">
				<div class="services__accordion">
				    {#<h2 class="mt-3 mb-4 position-relative content-title">{{ 'Key Features'|_ }}</h2>#}
				    <div class="accordion active small dropdown-item with-icon pointer" tab-name="tab1">
                        <i class="icon-memberships"></i>
                        <span>{{ 'Memberships'|_ }}</span>
                        <div class="accordion__body firstshow" style="display:none;">
							<p class="pt-3 d-flex flex-column">{{ 'Automate your membership management processes, maximize retention, and pamper your members with a premium experience they deserve.'|_ }}</p>
						</div>
                    </div>
                    <div class="accordion small dropdown-item with-icon pointer" tab-name="tab2">
                        <i class="icon-events"></i>
                        <span>{{ 'Online and Offline Events'|_ }}</span>
                        <div class="accordion__body" style="display:none;">
							<p class="pt-3 d-flex flex-column">{{ 'Plan, promote, execute, and evaluate one or hundreds of events from start to finish.'|_ }}</p>
						</div>
                    </div>
                    <div class="accordion small dropdown-item with-icon pointer" tab-name="tab3">
                        <i class="icon-crm"></i>
                        <span>{{ 'CRM'|_ }}</span>
                        <div class="accordion__body" style="display:none;">
							<p class="pt-3 d-flex flex-column">{{ 'Understand your audience by having all contact information and activities centralized in one place.'|_ }}</p>
						</div>
                    </div>
                    <div class="accordion small dropdown-item with-icon pointer" tab-name="tab4">
                        <i class="icon-email-campaigns"></i>
                        <span>{{ 'Emails'|_ }}</span>
                        <div class="accordion__body" style="display:none;">
							<p class="pt-3 d-flex flex-column">{{ 'Send newsletters, branded event invitations and other emails in a few clicks and track performance.'|_ }}</p>
						</div>
                    </div>
                    <div class="accordion small dropdown-item with-icon pointer" tab-name="tab5">
                        <i class="icon-payments"></i>
                        <span>{{ 'Finance & Payments'|_ }}</span>
                        <div class="accordion__body" style="display:none;">
							<p class="pt-3 d-flex flex-column">{{ 'Collect money effortlessly and stay up to date with your financial performance in real-time.'|_ }}</p>
						</div>
                    </div>
					<div class="accordion small dropdown-item with-icon pointer" tab-name="tab6">
                        <i class="icon-social-share"></i>
                        <span>{{ 'Community'|_ }}</span>
                        <div class="accordion__body" style="display:none;">
							<p class="pt-3 d-flex flex-column">{{ 'Make smart decisions faster by having a complete picture of your performance and engagement.'|_ }}</p>
						</div>
                    </div>
                    <div class="accordion small dropdown-item with-icon pointer" tab-name="tab6">
                        <i class="icon-mobile-check"></i>
                        <span>{{ 'Mobile Apps'|_ }}</span>
                        <div class="accordion__body" style="display:none;">
							<p class="pt-3 d-flex flex-column">{{ 'One app for you to manage your organization from anywhere, one app for your attendees & members.'|_ }}</p>
						</div>
                    </div>
				</div>
			</div>
			<div class="col-md-7 align-self-center" style="margin-bottom:50px;">
				<div class="accordion__img desktop">
			         <div id="tab1-img" class="firstshow">
			            <img  class="feature-window desktop" src="{{ 'assets/images/preview.svg' | theme }}" alt="chat"> 
			         </div>
			         <div id="tab2-img">
			            <img  class="feature-window deskto" src="{{ 'assets/images/preview.svg' | theme }}" alt="chat">
			         </div>
			         <div id="tab3-img">
			            <img  class="feature-window deskto" src="{{ 'assets/images/preview.svg' | theme }}" alt="chat">
			         </div>
			         <div id="tab4-img">
			            <img  class="feature-window deskto" src="{{ 'assets/images/preview.svg' | theme }}" alt="chat">
			         </div>
			         <div id="tab5-img">
			            <img  class="feature-window deskto" src="{{ 'assets/images/preview.svg' | theme }}" alt="chat">
			         </div>
			         <div id="tab6-img">
			            <img  class="feature-window" src="{{ 'assets/images/preview.svg' | theme }}" alt="chat">
			         </div>
			     </div>
			</div>
		</div>