description = "bottom cta"
==
<section class="section bg-gradient">
        <div class="container">
            <div class="row justify-content-center align-items-center py-5">
                <div class="col-lg-7">
                    <span class="text-color">Empower Your Community</span>
                    <h2 class="mt-2 mb-4 mb-lg-0 text-white">{{ 'Start using the best technology to engage with your community.'|_ }}</h2>
                </div>
                <div class="col-lg-4">
                    <a href="#" class="btn btn-primary-white btn-round-full float-lg-right " data-toggle="modal" data-target="#contact-paygage">Book a Demo</a>
                </div>
            </div>
        </div>

</section>