description = "email cta"

[viewBag]
==
<div class="row">
    <div class="col-md-10 input-group mt-3">
        <input type="text" id="email" name="email" placeholder="{{'Your Email'|_}}" aria-label="email" class="form-control has_background">
        <div class="input-group-append">
            <button class="btn btn-primary btn-round-full pointer" value="Submit" id="emailtomodal" input-type="submit" data-toggle="modal" data-target="#contact-paygage">{{'Book a Demo'|_}}</button>
                               {# <input type="button" name="btn" value="Submit" id="submitBtn" data-toggle="modal" data-target="#confirm-submit" class="btn btn-default" />#}
        </div>
    </div>
</div>