description = "hero blog"

[viewBag]

[timeToRead]
postSlug = "{{ :slug }}"
readingSpeed = 300
isRoundingUpEnabled = 1

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "blog/category"
==
<div class="generic " id="generic">
        {% if blogPost.post %}
        
        <div class="container">
            <div class="row">
            	<div class="col-md-8 pt-3 mx-auto text-left">
            		<div class="row">	
            		    <div class="col-md-12 pt-3 mx-auto text-left">
            				<h1 class="pt-2 text-left">{{ post.title }}</h1>
            				<p class="tagline ml-0">{{ this.page.description }}</p>
            			</div>
            	    </div>
                 	<div class="row">
            		    <div class="col-md-8 pt-1 text-left">
                			<div class="d-flex">
                    				    <img class="author-avatar mr-2" data-src="{{ post.user.avatar.file_name }}" src="{{ post.user.avatar.getThumb(120, 'auto') }}" alt="{{ post.user.first_name }}{{ post.user.last_name }}"/>
                        				<div class="d-flex py-3 align-items-middle"> 
                        				<p class="font-weight-bold px-2">{{ post.user.first_name }}, </p>
                        				<p class="sm-grey-text"> {{ post.user.last_name }} </p>
                        				<p class="px-3 sm-grey-text">•</p>
                        				<p class="text-black text-capitalize sm-grey-text">{{ post.published_at|date('M d, Y') }}</p>
                    				</div>
                    	    </div>
                    	</div>
                    	<div class="col-md-3 pt-1 ml-auto text-left">
                    	    
                    	</div>
                    </div>
                    <div class="row">
                            <div class="col-md-12 mb-5 mx-auto text-left">
                                <!--<p>{{ post.timeToRead }} Min</p>-->
                                {% if post.featured_images.count > 0 %}
                                    <div class="featured-images text-center pt-4">
                                        <img class="img-fluid rounded"
                                                    data-src="{{ post.featured_images.first.filename  }}"
                                                    src="{{ post.featured_images.first.getThumb(1920, 'auto') |default('glueup-generic.svg'|media) }}"
                                                    alt="{{ post.featured_images.first.description }}"
                                                    style="max-width: 100%; width:100%;" />
                                    </div>
                                {% else %}
                                    <div class="featured-images text-center pt-4">
                                                <img class="img-fluid rounded"
                                                    data-src="{{ post.featured_images.first.filename  }}"
                                                    src="{{ 'glueup-generic.svg'| media }}"
                                                    alt="{{ post.featured_images.first.description }}"
                                                    style="max-width: 100%; width:100%;" />
                                    </div>
                                {% endif %}  
                            </div>
            			</div>
            		</div>
        		
        		{% elseif this.page.url == '/blog/' %}
    			<div class="container">
         	    <div class="row">
        			<div class="col-md-7 hero align-self-center text-center mx-auto pt-5">
        		    	<h1>{{ 'Glue Up <span class="line"><ins>Insights </ins></span>'|_ }}</h1>
        				<p class="tagline ml-0">{{ this.page.description }}</p>
        				
    			{% elseif blogCategories.categories %}
    			<div class="container">
         	    <div class="row">
        			<div class="col-md-7 hero align-self-center text-center mx-auto pt-5">
        				<h1>{{ category.name|default(this.page.title) }}</h1>
        			{#	<p class="tagline ml-0">{{ this.page.description }}</p> #}
        			</div>	
    			{% else %}
    			<div class="container">
         	    <div class="row">
        			<div class="col-md-7 hero align-self-center text-center mx-auto pt-5">
        		    	<h1 class="title pt-5">{{ this.page.title }}</h1>
        				<p class="tagline ml-0">{{ 'Blog about Glue Up and online communities'|_ }}</p>
        			</div>	
    			{% endif %}
		    </div>
        </div>
    </div>