description = "default newsletter"

[viewBag]
==
<!-- // form -->
 <div class="input-group mb-3">
                  
                                     {#<h4 class="t-5 modal-title">{{ 'Contact Support'|_ }} </h4>
                                     <p>{{ "We're here to help. Please fill out this quick form and we'll get back to you shortly."|_ }}</p>#}
                        <form data-request="{{ __SELF__ }}::onFormSubmit" id="modal__submit">
                        
                            {{ form_token() }}
                            <input type="text" id="email" name="email" placeholder="{{'Your Email'|_}}" aria-label="email" class="form-control has_background">
        <div class="input-group-append">
            <button class="btn btn-primary btn-round-full pointer" value="Submit" id="emailtomodal" input-type="submit" data-toggle="modal" data-target="#contact-paygage">{{'Book a Demo'|_}}</button>
                         <div class="form-group">
                            <div id="{{ __SELF__ }}_forms_flash"></div>
                        	<input type="text" id="email-bottom" name="email" placeholder="{{'Your Email'|_}}" aria-label="email" class="form-control has_background">
                      <div class="input-group-append">
                        <button class="btn btn-primary btn-round-full pointer" value="Submit" id="newsletter" type="submit">{{'Subscribe'|_}}</button>
                      </div>
                      </div>
 
                        
                        </form>
                        </div>
            <!-- // Modal -->