[viewBag]
snippetCode = "whitepaperform"
snippetName = "whitepaper form"

[genericForm whitepaperform]
messages_success = "Your form was successfully submitted"
messages_errors = "There were errors with your submission"
mail_resp_enabled = 0
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
emails_date_format = "Y-m-d"

[staticPage]
useContent = 1
default = 0
==
<!-- // form -->

                                     {#<h4 class="t-5 modal-title">{{ 'Contact Support'|_ }} </h4>
                                     <p>{{ "We're here to help. Please fill out this quick form and we'll get back to you shortly."|_ }}</p>#}
                        <form data-request="{{ __SELF__ }}::onFormSubmit" id="modal__submit">
                        
                            {{ form_token() }}
                        
                            <div id="{{ __SELF__ }}_forms_flash"></div>
                            	{% if whitepapercover|default(false) %} 
                        <img src="{{ whitepapercover|media }}" title="" alt="{{ whitepapertitle }}" class="img-fluid" />
              {% endif %}
                            <div class="form-group">
                                <label for="full_name">{{ 'Full Name'|_ }}</label>
                                <input type="text" id="full_name" name="full_name" class="form-control">
                            </div>
                            {#<div class="form-group">
                                <label for="phone">{{ 'Phone Number'|_ }}</label>
                                <input type="text" id="phone" name="phone" class="form-control">
                            </div>#}
                            <div class="form-group">
                                <label for="email">{{ 'Email Address'|_ }}</label>
                                <input type="text" id="email" name="email" class="form-control" value="">
                            </div>
                            <div class="form-group">
                                <label for="company">{{ 'Company Name'|_ }}</label>
                                <input type="text" id="company" name="company" class="form-control" value="">
                            </div>
                            <div class="form-group">
                                <label for="website">{{ 'Website URL'|_ }}</label>
                                <input type="text" id="url" name="url" class="form-control" value="">
                            </div>
                            {#<div class="form-group">
                                <label for="numemployees">{{ 'How many employees do you have?'|_ }}</label>
                                <input type="text" id="numemployees" name="numemployees" class="form-control" value="">
                            </div>#}
                           
                             
                             {% partial 'site/hidden-fields-form.htm' %}
                          	      	<div class="form-group" style="visibility:hidden; max-height: 1px; margin:0;">
                          	 <label for="wp-title" style="visibility:hidden;"> </label>
                        	 <input type="text" id="wp-title" name="wptitle" placeholder="{{ whitepapertitle }}" value="{{ whitepapertitle }}" aria-label="wp-title" class="form-control has_background" style="visibility:hidden;">
                          	</div>
                          	<div class="form-group" style="visibility:hidden; max-height: 1px; margin:0;">
                          	 <label for="wp-link" style="visibility:hidden;"> </label>
                        	 <input type="text" id="wp-link" name="wplink" placeholder="{{ whitepaperurl }}" value="{{ whitepaperurl }}" aria-label="wp-link" class="form-control has_background" style="visibility:hidden;">
                          	</div>
                          	<div class="form-group" style="visibility:hidden; max-height: 1px; margin:0;">
                          	 <label for="wp-image" style="visibility:hidden;"> </label>
                        	 <input type="text" id="wp-image" name="wpimage" placeholder="{{ whitepapercover }}" value="{{ whitepapercover }}" aria-label="wp-image" class="form-control has_background" style="visibility:hidden;">
                          	</div>
                          
                        
                            <button id="simpleContactSubmitButton" type="submit" class="btn btn-primary">{{ 'Get your copy'|_ }}</button>
                        
                        </form>
            <!-- // Modal -->