@charset "UTF-8";
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v14/4iCv6KVjbNBYlgoC1CzjsGyI.ttf) format('truetype')
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v14/4iCs6KVjbNBYlgoKfw7z.ttf) format('truetype')
}
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v14/4iCv6KVjbNBYlgoCxCvjsGyI.ttf) format('truetype')
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    background: #fff;
    font-weight:700;
    /*font-size:1.7vh;*/
}
/*html {
    background: #0d62fe;
}*/
body.modal-open,
.nav-menu.modal-open {
    overflow: inherit;
    padding: 0 !important;
    margin: 0 !important
}

a {
    color: #212121;
    transition: .3s color;
}
img, svg, video {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a:hover,
a:focus {
    /*color: #001C6C;*/
    color: #0d62fe;
    text-decoration: none;
}
footer {
     font-size:14px;  
     border-bottom:8px solid #0d62fe;
}
footer a {
    color: #7a7a7a;
    font-weight: lighter;
}
footer li {
    margin: .3rem 0;
}
ul.footer-lang a {
    margin-right: 1rem;
    display:block;
        
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #0d62fe;
}
/** Firefox edits*/
select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;       /* Remove default arrow */
   background-image: url(...);   /* Add custom arrow */
}
#anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
  scroll-margin-top: 2rem;
}

/*a:hover > i {
    padding-left:.5rem;
}*/
p a {
    color: #0d62fe;
    transition: .3s color;
}
p a:hover, p a:focus {
    color: #001C6C;
}
a.nav-link {
    color: #212121;
    font-weight: lighter;
}

a.nav-link:hover,
a.nav-link:hover {
    color: #0d62fe
}

h1 {
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 1.5rem;
    color: #212121;
}
ins {
    text-decoration: none!important;
    z-index: 1;
}
h2 {
    font-size: 40px;
    font-weight: 300;
    color: #212121;
    letter-spacing: 0;
    margin-bottom: 1rem;
    line-height:1;
}

h3 {
    color: #212121;
    font-size: 33px;
    letter-spacing: -1px;
    font-weight: 300;
}

h4 {
    font-size: 20px;
    font-weight: 500;
    color: #212121;
}

h5 {
    font-size: 22px;
    font-weight: 300;
    color: #001C6C;
    margin-bottom: 0.7rem
}
.shadow {
    box-shadow: 0 5px 23px 0 rgba(0,0,0,0.1);
}
.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
p {
    color: #7A7A7A;
    font-size:18px;
    font-weight:300;
}

p.lead {
    color: #7A7A7A;
    margin-bottom: 2rem
}
.pointer {cursor: pointer;}
/*
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}*/
.text-primary {
    color: #0d62fe !important
}

.light-font {
    font-weight: 300
}

.btn {
    font-size: 14px;
    font-weight: 400;
    padding: 0.375rem 1.35rem;
    transition: all 0.3s ease
}
section .alert {
    display: inline-block;
    flex-direction: row;
}

section .alert i{
    margin-right: 8px;
    align-self: center; /* if you want it centered vertically*/
}
.display-4 {
	font-size:5vh;	
}
.sticky-top {
    top: 10vh!important;
}
.btn-outline-light {
    color: #0d62fe;
    background-color: transparent;
    background-image: none;
    border-color: #0d62fe
}
a.eb { max-width: 6vw;}
.eb img {
	max-width: 6vw;	
}
.btn-outline-light:hover {
    color: #001C6C
}
.badge-soon {
    color: #717171;
    background-color: #f2f4f6;
    font-weight: 300;
}
.hero {
/*    padding: 2rem;*/
}

.hero h1 {
    /*color: #001C6C;*/
    font-size: 50px;
    font-weight:800;
    z-index: 2;
    line-height:1.1;
}
#blog .hero h1, .blog .hero h1, .blog .hero h1 a {
    /*color: #001C6C;*/
    font-size: 40px;
    font-weight:300;
    z-index: 2;
    color:#212121;
}
#blog .hero h1, .blog .hero h1, .blog .hero h1 a:focus, .blog .hero h1 a:hover  { 
    color: #0d62fe;
    font-size: 40px;
    font-weight:300;
    text-decoration: none;
    z-index: 2;
}
img.quote-img {
    border-radius: 50%;
    max-width: 125px;
    float: left;
    margin: 0 1rem 0 0;
}
blockquote {
    margin: 0 0 2rem 145px;
    font-weight: 300;
}
blockquote h6 {
    margin-top: 1rem;
    font-weight: 300;
}
#awards label {
    display: inline-block;
    margin-bottom: .5rem;
    font-weight: 400;
}
#awards input[type=number] {
    max-width: 110px;
    display: inline-block;
    margin: 1rem 1rem;
}
.hero h1 a:hover, .hero h1 a:focus  { 
    color: #0d62fe;
    font-size: 40px;
    font-weight:800;
    text-decoration: none;
    z-index: 2;
}
ul.wp-benefits {
    list-style: disc;
    font-weight: 300;
}
ul.wp-benefits li {
    margin: .5rem 0;
}
.quote-home {
    font-size: 16px;
}
.quote-home::before {
    content: '';
    border: 2px solid #0d62fe;
    position: absolute;
    height: 4px;
    width: 5vw;
    margin-bottom: 1rem;
    margin-top: -20px;
}
#blog .hero h4, .blog .hero h4, .hero h4 a {
    /*color: #001C6C;*/
    font-size: 28px;
    font-weight:300;
    z-index: 2;
    color:#212121;
}

:target {

  top: 80px; 
}
ul.pricing-list {
    display: grid;
    padding: 0;
    border-top: 1px solid #f2f4f6;
}
li.pricing-list-item {
    border-bottom: 1px solid #f2f4f6;
    display: flex;
    font-weight: 300;
    align-self: revert;
    padding: 0 0 10px 0;
}
ul.pricing-list i {
    font-size: 28px;
    margin-right: 1rem;
    margin-top: .5rem;
    display: inline-table;
}
.pricing-list-item span {
    align-self: center;
    padding-top: 10px;
}
span.muted {
    font-size: 17.5px;
    color: #fafafa;
}
.pricing h4 {
    padding-right: 5rem;
}

/*.card p {
    padding-right: 4rem;
}*/
.integrations-logo {
    max-height: 6vh;
    max-width: 15vw;
}
.blog .hero h4 a:hover, .blog .hero h4 a:focus  { 
    color: #0d62fe;
    font-size: 28px;
    font-weight:300;
    text-decoration: none;
    z-index: 2;
}
ins {text-decoration: none!important;}
.hero ins:before {
    position: absolute;
    z-index: 1;
    bottom: 35px;
    left: calc(50% - 56px);
    width: 100%;
    /*height: 144px;*/
    display: block;
    content: "";
   /* background-image: url(../images/underline-lg.svg);
    background-repeat: no-repeat;*/
}
.accordion span {
    font-size: 16px;
    font-weight: bold;
}
.accordion__body {
    margin-left: calc(44px + 1rem);
}
/*********timeline begins***/


.example-header {
  background: #3D4351;
  color: #FFF;
  font-weight: 300;
  padding: 3em 1em;
  text-align: center;
}
.example-header h1 {
  color: #FFF;
  font-weight: 300;
  margin-bottom: 20px;
}
.example-header p {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
}

.container-fluid .row {
  padding: 0 0 4em 0;
}
.container-fluid .row:nth-child(even) {
  background: #F1F4F5;
}

.example-title {
  text-align: center;
  margin-bottom: 60px;
  padding: 3em 0;
  border-bottom: 1px solid #E4EAEC;
}
.example-title p {
  margin: 0 auto;
  font-size: 16px;
  max-width: 400px;
}

/*==================================
    TIMELINE
==================================*/
/*-- GENERAL STYLES
------------------------------*/
.timeline {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.timeline h1, .timeline h2, .timeline h3, .timeline h4, .timeline h5, .timeline h6 {
  line-height: 1.2;
}

/*----- TIMELINE ITEM -----*/
.timeline-item {
  padding-left: 40px;
  position: relative;
}
.timeline-item:last-child {
  padding-bottom: 0;
}

/*----- TIMELINE INFO -----*/
.timeline-info {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0 0 .5em 0;
  text-transform: uppercase;
  white-space: nowrap;
}
.bullets p {
    line-height: 1.2;
}

/*----- TIMELINE MARKER -----*/
.timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
}
.timeline-marker:before {
    background: #fff;
    border: 3px solid #dbe6ff;
    border-radius: 100%;
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    top: 45px;
    left: 0;
    z-index: 2;
    width: 15px;
    transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}
.timeline-marker:after {
    content: "";
    width: 1px;
    background: #dbe6ff;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 7px;
    z-index: 1;
}
.timeline-item:last-child .timeline-marker:after {
  content: "";
    width: 1px;
    background: #dbe6ff;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 7px;
    z-index: 1;
    height:45px;
}
.timeline-item:first-child .timeline-marker:after {
  content: "";
    width: 1px;
    background: #dbe6ff;
    display: block;
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 7px;
    z-index: 1;
}

.timeline-item:not(.period):hover .timeline-marker:before {
  background: #0D62FE;
  border: 3px solid #dbe6ff;
}
.timeline-item:not(.period):hover h4 {
  color: #0D62FE;
   transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}

/*----- TIMELINE CONTENT -----*/
.timeline-content {
  padding-bottom: 40px;
}
.timeline-content p:last-child {
  margin-bottom: 0;
}

/*----- TIMELINE PERIOD -----*/
.period {
  padding: 0;
}
.period .timeline-info {
  display: none;
}
.period .timeline-marker:before {
  background: transparent;
  content: "";
  width: 15px;
  height: auto;
  border: none;
  border-radius: 0;
  top: 0;
  bottom: 30px;
  position: absolute;
  border-top: 1px solid #dbe6ff;
  border-bottom: 1px solid #dbe6ff;
}
.period .timeline-marker:after {
  content: "";
  height: 32px;
  top: auto;
}
.period .timeline-content {
  padding: 40px 0 70px;
}
.period .timeline-title {
  margin: 0;
}

/*----------------------------------------------
Timeline about
----------------------------------------------*/

.flex-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top:60px;
  /*min-height: 500px;*/
}

.input-flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 40vw;
  max-width: 1000px;
  position: relative;
  z-index: 0;
  margin-left: calc((80vw - 25px) / 20);
}

#timeline input {
  width: 25px;
  height: 25px;
  background-color: #0064FF;
  position: relative;
  border-radius: 50%;
  display: block;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}
#timeline input:focus {
  outline: none;
}
#timeline input::before, #timeline input::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  background-color: #0064FF;
  width: 4vw;
  height: 5px;
  max-width: 50px;
}
#timeline input::before {
  left: calc(-3vw + 12.5px);
}
#timeline input::after {
  right: calc(-3vw + 12.5px);
}
#timeline input:checked {
  background-color: #0064FF;
}
#timeline input:checked::before {
  background-color: #0064FF;
}
#timeline input:checked::after {
  background-color: #001C6C;
}
#timeline input:checked ~ input, #timeline input:checked ~ input::before, #timeline input:checked ~ input::after {
  background-color: #001C6C;
}
#timeline input:checked + .dot-info span {
  font-size: 13px;
  font-weight: bold;
  color: #0064FF!important;
}

.dot-info {
  width: 25px;
  height: 25px;
  display: block;
  visibility: hidden;
  position: relative;
  z-index: -1;
  left: calc((((80vw - 25px) / 20) * -1) - 1px);
}
.dot-info span {
  visibility: visible;
  position: absolute;
  font-size: 12px;
}
.dot-info span.year {
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.dot-info span.label {
  top: -65px;
  left: 0;
  transform: rotateZ(-45deg);
  width: 70px;
  text-indent: -10px;
}

#timeline-descriptions-wrapper {
  width: 100%;
  margin-top: 80px;
  font-size: 22px;
  font-weight: 400;
  margin-left: calc((-80vw - 25px) / 20);
}
#timeline input[type="radio"]:first-child::before {
    display: none;
}
#timeline input[type="radio"]:last-of-type::after {
    display: none;
}
#timeline-descriptions-wrapper .timeline-block {
  margin-top: 0;
  display: none;
}

input[data-description="2013"]:checked ~ #timeline-descriptions-wrapper .timeline-block[data-description="2013"] {
  display: block;
}

input[data-description="2015"]:checked ~ #timeline-descriptions-wrapper .timeline-block[data-description="2015"] {
  display: block;
}

input[data-description="2017"]:checked ~ #timeline-descriptions-wrapper .timeline-block[data-description="2017"] {
  display: block;
}

input[data-description="2018"]:checked ~ #timeline-descriptions-wrapper .timeline-block[data-description="2018"] {
  display: block;
}

input[data-description="2019"]:checked ~ #timeline-descriptions-wrapper .timeline-block[data-description="2019"] {
  display: block;
}

input[data-description="2020"]:checked ~ #timeline-descriptions-wrapper .timeline-block[data-description="2020"] {
  display: block;
}

input[data-description="20201"]:checked ~ #timeline-descriptions-wrapper .timeline-block[data-description="20201"] {
  display: block;
}

@media (min-width: 1250px) {
  .input-flex-container {
    margin-left: 62.5px;
  }

  #timeline input::before {
    left: -37.5px;
  }
  #timeline input::after {
    right: -37.5px;
  }

  .dot-info {
    left: calc((((1000px - 25px) / 20) * -1) - 1px);
  }

  #timeline-descriptions-wrapper {
    margin-left: -37.5px;
  }
}
@media (max-width: 630px) {
  .flex-parent {
    justify-content: initial;
        margin-top: 0px;
  }

  .input-flex-container {
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    height: auto;
    margin-top: 0vh;
    margin-left: 0;
    padding-bottom: 30px;
  }

  #timeline input, .dot-info {
    width: 60px;
    height: 60px;
    margin: 0 10px 50px;
  }

  #timeline input {
    background-color: transparent !important;
    z-index: 1;
  }
  #timeline input::before, #timeline input::after {
    content: none;
  }
  #timeline input:checked + .dot-info {
    background-color: #001C6C;
  }
  #timeline input:checked + .dot-info span.year {
    font-size: 14px;
  }
  #timeline input:checked + .dot-info span.label {
    font-size: 12px;
  }

  .dot-info {
    visibility: visible;
    border-radius: 50%;
    z-index: 0;
    left: 0;
    margin-left: -70px;
    background-color: #001C6C;
  }
  .dot-info span.year {
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ECF0F1;
  }
  .dot-info span.label {
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    text-indent: 0;
    text-align: center;
  }

  #timeline-descriptions-wrapper {
    margin-top: 30px;
    margin-left: 0;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .input-flex-container {
    width: 340px;
  }
}
@media (max-width: 400px) {
  .input-flex-container {
    width: 300px;
  }
}


/*----------------------------------------------
    MOD: TIMELINE SPLIT
----------------------------------------------*/
@media (min-width: 768px) {
  .timeline-split .timeline, .timeline-centered .timeline {
    display: table;
  }
  .timeline-split .timeline-item, .timeline-centered .timeline-item {
    display: table-row;
    padding: 0;
  }
  .timeline-split .timeline-info, .timeline-centered .timeline-info,
  .timeline-split .timeline-marker,
  .timeline-centered .timeline-marker,
  .timeline-split .timeline-content,
  .timeline-centered .timeline-content,
  .timeline-split .period .timeline-info,
  .timeline-centered .period .timeline-info {
    display: table-cell;
    vertical-align: top;
  }
  .timeline-split .timeline-marker, .timeline-centered .timeline-marker {
    position: relative;
  }
  .timeline-split .timeline-content, .timeline-centered .timeline-content {
    padding-left: 30px;
  }
  .timeline-split .timeline-info, .timeline-centered .timeline-info {
    padding-right: 30px;
  }
  .timeline-split .period .timeline-title, .timeline-centered .period .timeline-title {
    position: relative;
    left: -45px;
  }
}

/*----------------------------------------------
    MOD: TIMELINE CENTERED
----------------------------------------------*/
@media (min-width: 992px) {
  .timeline-centered,
  .timeline-centered .timeline-item,
  .timeline-centered .timeline-info,
  .timeline-centered .timeline-marker,
  .timeline-centered .timeline-content {
    display: block;
    margin: 0;
    padding: 0;
  }
  .timeline-centered .timeline-item {
    padding-bottom: 40px;
    overflow: hidden;
    padding:2rem;
  }
  .timeline-centered .timeline-marker {
    position: absolute;
    left: 50%;
    margin-left: -7.5px;
  }
  
  .timeline-centered .timeline-info,
  .timeline-centered .timeline-content {
    width: 50%;
  }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-info {
    float: left;
    text-align: right;
    padding-right: 30px;
    order:2;
  }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-content {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-info {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  .timeline-centered > .timeline-item.period .timeline-content {
    float: none;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .timeline-centered .timeline-item.period {
    padding: 50px 0 90px;
  }
  .timeline-centered .period .timeline-marker:after {
    height: 30px;
    bottom: 0;
    top: auto;
  }
  .timeline-centered .period .timeline-title {
    left: auto;
  }
}

/*----------------------------------------------
    MOD: MARKER OUTLINE
----------------------------------------------*/
.marker-outline .timeline-marker:before {
  background: transparent;
  border-color: #FF6B6B;
}
.marker-outline .timeline-item:hover .timeline-marker:before {
  background: #FF6B6B;
}


/***********/
textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}
.fadingEffect {
    -moz-animation: showHide 5s ease-in alternate once; /* Firefox */
    -webkit-animation: showHide 5s ease-in alternate once; /* Safari and Chrome */
    -ms-animation: showHide 5s ease-in alternate once; /* IE10 */
    -o-animation: showHide 5s ease-in alternate once; /* Opera */
    animation: showHide 5s ease-in alternate once;
}
@-webkit-keyframes showHide { /* Chrome, Safari */
    0% {width:0%}
    40% {width:40%}
    60% {width:60%;}
    100% {width:100%;}
}
@-moz-keyframes showHide { /* FF */
    0% {width:0%}
    40% {width:40%}
    60% {width:60%;}
    100% {width:100%;}
}
@-ms-keyframes showHide { /* IE10 */
    0% {width:0%}
    40% {width:40%}
    60% {width:60%;}
    100% {width:100%;}
}
@-o-keyframes showHide { /* Opera */
    0% {width:0%}
    40% {width:40%}
    60% {width:60%;}
    100% {width:100%;}
}
@keyframes showHide {
    0% {width:0%}
    40% {width:40%}
    60% {width:60%;}
    100% {width:100%;}
}
span.line {
    display: inline-flex;
}
svg.svgline {
    position: absolute;
    margin-right: -110%;
    margin-top: 48px;
}

#hero .home svg.svgline {
    position: absolute;
    margin-right: -110%;
    margin-top: 6.5%;
}
#hero svg.svgline {
    position: absolute;
    margin-right: -110%;
    margin-top: 2.7vw;
}

.section svg.svgline, .cta-block-2 svg.svgline, h2 svg.svgline {
    position: absolute;
    margin-right: -110%;
    margin-top: 30px;
    z-index: 0;
}
.sentence svg.svgline {
    position: absolute;
    margin-right: -110%;
    margin-top: 29px;
    z-index: 0;
}

.cta-block-2 svg.svgline {
    position: absolute;
    margin-right: -110%;
    margin-top: 55px;
    z-index: 0;
}
h1.title {text-transform: capitalize;}

.logo {
    max-height: 36px;
    /*margin-bottom: 6px;*/
}
.collapse.show #navbar {
    padding: 1em;
    border-top: 1px solid #f2f4f6;
    margin: 1em 0 0 0;
}
.nav-menu.menu-is-open #navbar .nav-item a {
    margin: .5em auto;
}
.paygage-bg {
    background-image: url(../themes/paygage/assets/images/paygage-bg3.svg);
    background-position-y: 60vh;
    background-position-x: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    min-height: 500px
}

.paygage-generic {
    background-image: url(../images/paygage-visual-main.svg);
    background-position-x: 640px;
    background-position-y: -18%;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
}
.paygage-generic-center {
    background-image: url(../images/paygage-visual-main.svg);
    background-position-x: 0;
    background-position-y: 70vh;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    order: 2;
}

.paygage-bg1 {
    background-image: url(../themes/paygage/assets/images/paygage-bg1.svg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 1rem;
    display: flex;
    min-height: 500px
}

.paygage-bg2 {
    background-image: url(../themes/paygage/assets/images/paygage-graph.svg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 1rem;
    display: flex;
    min-height: 500px
}

.glueup-bg1 {
    background-image: url(../themes/paygage/assets/images/paygage-bg1.svg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 1rem;
    display: flex;
    min-height: 500px
}

.bg-white {
    background: #fff;
}
.bg-gray {
    background: #E3E7D3;
}
.bg-blue {
    background: #0d62fe;
}
.bg-blue-17 {
    background: #D7E5FF;
}
.bg-blue-50 {
    background: #86B1FF;
}
.bg-blue-68 {
    background: #5B95FF;
}
.bg-blue path {
    stroke: #001c6c;
}
.bg-dark-blue {
    background: #001c6c;
}
section .dropdown-item p.link-title {
    font-weight: 800;
}
#solutions-display .dropdown-item p.link-title {
    padding-right: 2rem;
}

.bg-gradient {
    background: rgb(13,98,255);
    background: -moz-linear-gradient(-95deg, rgba(13,98,255,1) 0%, rgba(11,81,208,1) 100%);
    background: -webkit-linear-gradient(-95deg, rgba(13,98,255,1) 0%, rgba(11,81,208,1) 100%);
    background: linear-gradient(-95deg, rgba(13,98,255,1) 0%, rgba(11,81,208,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0d62ff",endColorstr="#0b51d0",GradientType=1);   
}
.bg-gradient h1, .bg-gradient small, .bg-gradient h2, .bg-gradient p.tagline, .bg-gradient h6, .bg-gradient span.h6, .bg-gradient .text-color {
    color: #fff;
}
.bg-sand {
    background: #F4F2EE;
}
.bg-green {
    background: #0d62fe;
}

.navbar {padding: 0;}
.navbar-toggler {
    padding: 0;
    font-size: 1.25rem;
    line-height: 1;
    background: 0 0;
    border: 1px solid transparent;
    border-radius: .25rem
}
.navbar-toggler:focus, .navbar-toggler:hover {
    text-decoration: none;
    border: none;
    outline: none;
}

.navbar-toggler-icon {
    display: inline-block;
    padding: 0px 0 0 0px;
    width: 45px;
    height: 36px;
    font-size: 1.7em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}
.navbar-brand {}
@media (min-width: 992px)
.navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
    padding-right: 3em;
}
.mb-5,
.my-5 {
    margin-bottom: 2.5vh!important
}

.mt-5,
.my-5 {
    margin-top: 2.5vh!important
}

.btn-primary {
    border-radius: 3px;
    background-color: #0d62fe;
    /*box-shadow: 0 9px 32px 0 rgba(0, 0, 0, 0.2);*/
    font-weight: 500;
    padding: 1.5vh 5vh;
    border: 0
}
.btn-primary-reverse {
    border-radius: 3px;
    background-color: #001c6c;
    box-shadow: 0 9px 32px 0 rgba(0, 0, 0, 0.2);
    font-weight: 500;
    padding: 1rem 3rem;
    border: 0;
    color:#fff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-color: #001C6C;
    box-shadow: none;
    color: #fff;
}
.btn-primary-reverse:hover,
.btn-primary-reverse:focus,
.btn-primary-reverse:active,
.btn-primary-reverse:not([disabled]):not(.disabled).active,
.btn-primary-reverse:not([disabled]):not(.disabled):active,
.show>.btn-primary-reverse.dropdown-toggle {
    background-color: #fff;
    box-shadow: none;
    color: #001c6c!important;
}
.btn-primary-white {
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 9px 32px 0 rgba(0, 0, 0, 0.2);
    font-weight: 500;
    padding: 1rem 4rem;
    border: 0
    color: #fff;
}

.btn-primary-white:hover,
.btn-primary-white:focus,
.btn-primary-white:active,
.btn-primary-white:not([disabled]):not(.disabled).active,
.btn-primary-white:not([disabled]):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-color: #001C6C;
    box-shadow: none;
    color: #FFF
}


.input-group-append .btn {
    margin-left: -1px;
    border-radius: 0 6px 6px 0
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    outline: 0
    width:96%;
    margin:auto;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
    display: flex!important
}

.modal-content .logo {
    text-align: center;
    display: block;
    margin: 2em auto
}

.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0 4em 4em 4em
}

/*.is-scrolling #navbar {
    padding: 8px 0 0 0
}

.nav-menu.is-scrolling {
    padding: 0 0 8px
}*/

.modal-header {
    border: 0
}

.centered-modal.in {
    display: flex!important
}

.centered-modal.in {
    display: flex!important
}

.centered-modal .modal-dialog {
    margin: auto
}

.btn-light {
    border-radius: 3px;
    background: #FFF;
    box-shadow: 0 9px 32px 0 rgba(0, 0, 0, 0.26);
    font-size: 14px;
    font-weight: 500;
    color: #001C6C;
    margin: 0.5rem;
    padding: 0.7rem 1.6rem;
    line-height: 1.8
}

.arrow-down {
    position: absolute;
    transform: rotate(-135deg);
    right: 20%;
    bottom: -17px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #e3e7d3
}

.arrow-down-green {
    position: absolute;
    transform: rotate(315deg);
    right: 30%;
    float: right;
    margin-right: -7%;
    top: -20px;
    width: 0;
    height: 0;
    margin-top: -4px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #E3E7D3
}

.btn-group-lg>.btn,
.btn-lg {
    padding: 0.8rem 1rem;
    font-size: 15px
}
/********  CARDS   ******/
.section .row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.section .row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.card i {
    font-size: 38px;
    color: #0d62fe;
}
section .card {
    /*box-shadow: 0 8px 24px rgba(0,0,0,.13);*/
    border:0;
}
/********  END OF CARDS   *********/

.light-bg {
    background-color: #E3E7D3
}

.section {
    padding: 80px 0
}
section.section.bg-grey.under {
    margin-top: -80px;
    padding-top: 160px;
}

.section-title {
    text-align: center;
    margin-bottom: 3rem
}

.section-title small {
    color: #998a9b
}
/* top navigation items */
.show > .dropdown-menu {
  max-height: 900px;
  visibility: visible;
}
  
.dropdown-menu {
  /*display: block!important;*/
  max-height: 0;
  visibility: hidden;
  transition: all 0.35s ease-in;
  overflow: hidden;
}
.dropdown-menu {
    /*display: block;*/
    position: absolute;
    top: 100%;
    left: 0;
    padding: 20px;
    margin: 0;
    border: none;
    box-shadow: 0 8px 24px rgba(0,0,0,.13);
    background: #fff;
    max-height: none;
}
li.glueupmenu {
    /*padding: 1em 0 2em;*/
}
.dropdown-menu i {
    float: left;
    display: inline-flex;
    color: rgba(16, 97, 254, 0.20);
    font-size: 44px;
    margin-top: -10px;
    margin-right: 1rem;
}
.dropdown-item i {
    float: left;
    display: inline-flex;
    color: rgba(16, 97, 254, 0.20);
    font-size: 44px;
    margin-top: -13px;
    margin-right: 1rem;
}
.sellpoint-item {
    background: rgb(13 98 254 / 0.07);
    color:#0d62fe;
    padding: 8px;
    font-size: 36px;
    border-radius: 8px;
}
.category-badge a {
    padding: 2px 4px;
    color: #0d62fe;
    background: rgb(13 98 254 / 0.07);
    transition: all ease-in-out .2s;
}
.sellpoint-item i {
        background: rgb(13 98 254 / 0.07);
    color:#0d62fe;
    padding: 8px;
    font-size: 36px;
    border-radius: 8px;

}
i.sellpoint-item:hover, i.sellpoint-item .active, i.sellpoint .active, .sellpoint.active > i   {
        background: #0d62fe;
    color:#fff;
    padding: 10px;
    font-size: 36px;
    border-radius: 8px;
     transition: all ease-in-out .2s;

}
.section .dropdown-item p {
    display: inline-flex;
}
.dropdown-item.with-icon {
    padding: 1.5rem 2rem;
}
/*.section .dropdown-item.with-icon {
    padding: 1.2rem 2rem;
}*/
.tab-content {
    box-shadow:none!important;
    border: none;
    background: transparent!important;
    padding: 3rem;
}
h6.intro {
    /* padding: .25rem 1.5rem; */
    color: #011d6c;
    /* margin: 1em; */
    padding: 1rem 3.2rem 0;
    font-weight: 800;
}
@media (max-width:767px) {

    h1 {
        font-size: 40px
    }
    .hero h1 {
        font-size: 40px
    }
    .display-4 svg.svgline {
        position: absolute;
        margin-right: -110%;
        margin-top: 38px;
    }
    svg.svgline {
        position: absolute;
        margin-right: -110%;
        margin-top: 11.5%;
    }
    .hero {
    /* padding: 2rem; */
    text-align: center!important;
    }
    h2 svg.svgline {
    position: absolute;
    margin-right: -110%;
    margin-top: 7.2%!important;
    z-index: 0;
    }
    h2 {
        font-size: 30px
    }
    header#hero{
      /*  height: calc(90vh - 170px);
    min-height: 520px;*/
        
    }
    /*.hero img {
        display:none;
    }*/
    .nav-menu {
    margin-top: 0;
    background: #fff;
    }
    .paygage-hero-container {
    height: calc(71vh)!important;
    display: flex;
    align-self: flex-start!important;
}
	.paygage-bg3 {
        background-image: url(../themes/paygage/assets/images/paygage-bg3.svg);
        background-position: top;
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 1rem;
        display: flex;
        min-height: 500px
    }
    .copyright {
        order: 2;
        margin-top: 2em
    }
    #hero h1, #generic h1 { font-size: 50px!important;}
    .eb img {
    	max-width: 19vw;
    	padding:0;
    }
    .rebranding-alert , .rebrand-more { font-size: 4vw;}

    #hero .home svg.svgline {
    position: absolute;
    margin-right: -110%;
    margin-top: 13%;
	}
	.hero-home {
	margin-top: -20%; 
	padding: 10px; 
	left: 10px; 
	margin-left: 6%; 
	width: 100%; 
	height: auto;	
	order: 1;
	}
    .bullets .col {
    margin: auto;
    padding: 0.1rem;
    padding-bottom: 2rem;
    }
    .bullets .row {
    margin: auto;
    width: 100%;
    align-self: center;
    }
    #hero img {
        max-width: 50%;
    }
    header#hero {
    padding: 0;
    text-align: left;
    /*color: #FFF;*/
    overflow: hidden;
    height: calc(83vh - 120px)!important;
   	min-height: 100vh;
    }
    #generic {
    min-height: 0!important;
    padding: 0!important;
    text-align: left;
    color: #001C6C;
    overflow: hidden;
}
    section .dropdown-item {
    padding: 1rem 1rem!important;
    margin-left: 0;
    }
    .display-4 {
    font-size: 2.5rem;
    }

}

.secondary-top-nav {
    position: absolute;
    width: 100%;   
    max-height:2rem;
}
.secondary-top-nav li.nav-item, .secondary-top-nav select.form-control {
    font-size: 12px;
    padding: 0;
    margin: 0;
    display: flex;
}

.secondary-top-nav .form-control {
    display: block;
    width: 100%;
    padding: 0;
    font-size: 12px;
    line-height: 1.5;
    background-color: unset;
    background-image: none;
    background-clip: unset;
    border: 0;
    border-radius: 0;
    transition: unset;
    color: rgba(0,0,0,.5);
}
.secondary-top-nav i {
    padding: 0;
    margin-top: -2px;
    position: absolute;
    left: 0px;
    display: inline-block;
    font-size: 20px; 
    color: rgba(0,0,0,.5);
}
.secondary-top-nav .lang i {
    position: relative;
    padding-top: 15px;
}
.btn-default, .btn-default:hover, .btn-default:active, .btn-default:active:focus, .btn-default:visited, .btn-default:focus, select.form-control:focus {    background-color: transparent; border:none;        outline: none; box-shadow:none; }
.secondary-top-nav select.form-control:not([size]):not([multiple]) {
   /* height: 2rem;
    padding: .5rem 1rem;
    font-weight: lighter;
        margin-top: 7px;*/
            height: calc(2.8rem + 3px);
}
.secondary-top-nav .navbar-nav .nav-item a {
    border-bottom: 0;
    padding: .5rem 1.5rem;
    margin-top: 7px;
}
.secondary-top-nav .navbar-nav .nav-item a:hover {
    color: #0d62fe;
    transition: .3s color;
}
.nav-menu {
    padding: 0 0 1rem;
    margin-top: 2rem;
    transition: all 0.3s ease;
}
li.different{
  border:none;
  position: relative;
}
/*.nav a.nav-link:hover, .nav a.nav-link.active {
    color: #0d62fe;
    border-bottom: 4px solid #0d62fe;
}*/
.dropdown-link {
    display:inline-block;
    width:100%;
    height:100%;
    padding: 1.5rem 0 1.2rem 1rem;
}

.nav a.nav-link::hover:after, .nav a.nav-link.active::active {
    content: '';
    position: absolute;
    width: 0;
    height: 5px;
    left: 50%;
    bottom: 0;
    background-color: #0d62fe;
    transition: all ease-in-out .2s;
}
li.different:hover{
  border: none;
}
.different::after, .different.active::after {
  content: '';
  position: absolute;
  width: 0px;
  height: 5px;
  left: 50%;
  bottom:0;
  background-color: #0d62fe;
  transition: all ease-in-out .2s;
}
.different:hover::after, .different.active::after {
  width: 100%;
  left: 0;
}

.nav-menu.is-scrolling,
.nav-menu.menu-is-open {
    background-color: #fff;
    box-shadow: 0 5px 23px 0 rgba(0,0,0,0.1);
    padding-top: 0;
    padding-bottom: 0;
    margin-top:0;
}

.navbar-nav .nav-link {
    position: relative
}
section .dropdown-item {
    white-space: initial;
    color: #212121;
    margin: .5em 0 0 0;
    padding: 1rem 2rem;
    font-size: 16px;
    font-weight: lighter;
    border-bottom: none!important;
    border-left: 4px solid transparent;
    
}
#product-display .dropdown-item {
	min-height:145px;
}
.dropdown-item {
    white-space: initial;
    color: #212121;
    margin: .5em 0 0 1em;
    padding: 1rem 2rem;
    font-size: 16px;
    font-weight: lighter;
    border-bottom: none!important;
    border-left: 4px solid transparent;
}
.right .dropdown-item {
    padding: .38rem 2rem;
}/*
.right h6.intro {
    padding: 1rem 2.2rem 0;
}*/

.dropdown-item .link-title {
    white-space: initial;
    color: #212121;
    font-size: 16px;
    font-weight: 400;
}
.dropdown-item p{
    font-size: 14px;
}
.section .dropdown-item:active > i, .section .dropdown-item:hover > i  {
        color: #0d62fe;
    }
.section .dropdown-item {
    margin: 0;
}
.section .dropdown-item {
    /*padding: 1.2rem 0 1.2rem 1rem;*/
    padding: 0;
}
.accordion.dropdown-item.with-icon {
    padding: 1.2rem 2rem;
    margin: .5rem 0;
}
.dropdown-item:focus, .dropdown-item:hover, .section .dropdown-item:active, .section .dropdown-item.active  {
    color: #212121;
    text-decoration: none;
    background-color: #f8f9fa;
    border-radius:4px;
    border-left-color: #0d62fe;
    box-shadow: 0 5px 23px 0 rgba(0,0,0,0.1);
}
nav.navbar.fixed-top {
    max-height: 100%;
    overflow-y: auto;
}
.fixed-top {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.quote-logo {
    max-height: 35px;
}
@media (min-width:992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
     /* margin-top: 6px;*/
    padding: 1.5rem 1rem;
}


    }
    .navbar-nav .nav-item a {
    
    /*border-bottom: 4px solid transparent; define a light blue border for the link */
    }
    a.dropdown-item.less {
    padding: .5rem 2rem;
    margin: 0 1em;
    }
    
    .navbar-nav .nav-item a.active {
        /*border-bottom: 4px solid #0d62fe;*/ /* simulate increase in white color */
    }
    .navbar-nav .nav-item a:hover {
        transition: all .25s;
        
    }
    .navbar-nav .nav-item a:hover > i {
        color: #0d62fe;
    }
    .dropdown-item:hover > i, .dropdown-item a:hover > i, .section .dropdown-item:active > i,.section .dropdown-item.active > i  {
        color: #0d62fe;
    }
   
}

@media (max-width:991px) {
    .navbar-nav.is-scrolling {
        padding-bottom: 1rem
    }
    .navbar-nav .nav-item {
      
    }
    
   
    .dropdown-menu { box-shadow:none;}
    .highlight {order:-1;}
    .navbar-collapse {
         max-height: 90vh;
         overflow-y: auto;
    }
    .nav-menu.menu-is-open #navbar .nav-item a {
    margin: .5em auto;
    font-size: 18px;
}

}
.glue-up-form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* background-image: url(../themes/glueup/assets/css/...); */
    appearance: menulist!important;
    padding: .5rem;
    margin: 10px;
    border-radius: 4px;
    border: 1px solid #ced4da;
}

header#hero {
    /*padding: calc(10vh);*/
    text-align: left;
    /*color: #FFF;*/
    /*overflow: hidden;*/
   /* height: calc(80vh - 120px);*/
   height: calc(70vh - 44px);
    min-height: 606px;
}

.navbar .nav-item/*:not(:last-child)*/ {
  margin-right: 5px;
    display: block;
}
li.nav-item {
    display: flex;
}

.navbar-nav .dropdown-menu {position:relative;}
 
.dropdown-toggle::after {
   transition: transform 0.15s linear; 
}
 
.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
}

div#generic {
 /*   min-height: 300px;*/
    padding: 1rem  0 0;
    text-align: left;
    color: #001C6C;
    overflow: hidden
}
/** Animations **/

.hideme
{
    opacity:0;
   /* padding-top:50px;*/
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 4rem, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.fadeInUp {
    animation: fadeInUp 0.3s ease-out;
    animation-fill-mode: both;
}
.houdini {

  /*transform: translateY(100px);*/
  transform: translate3d(0, 100px, 0);
  /* added translateY position to module to prevent the module loading at 0 then jumping down before sliding up (on mobile) */
  /* replaced translateY with translate3d for iOS hardware-acceleration*/
}
.houdini:nth-child(even) {
  margin-right: 0;
}


.come-in {
  /*transform: translateY(100px);*/
  transform: translate3d(0, 100px, 0);
  animation: come-in 0.8s ease forwards;
}

.come-in:nth-child(odd) {
  animation-duration: 0.6s;
}

.already-visible {
  /*transform: translateY(0);*/
  transform: translate3d(0, 0, 0);
  animation: none;
}

@keyframes come-in {
  to {
    transform: translate3d(0, 0, 0);
  }
}

/**************home****/
.border-1 {
    border: 1px solid #E3E7D3;
}




/**********end of home ****/
/************************************************ blog */
/* Style the header: fixed position (always stay at the top) */


/* The progress container (grey background) */
.progress-container {
    width: 100%;
    height: 8px;
    background: transparent;
    position: absolute;
    bottom: -8px;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 4px;
  background: #0d62fe;
  width: 0%;
  /*opacity: 0;*/
}

/* progress bar */
.blog ul li {
    display: block;
}

.alert-top a .read-more-icon {    
   /* margin: -2px 0 0 4px;*/
    /*position: absolute;*/
    font-size: 1.8rem;
     /*   margin: -2px 0 0 89px;
    position: absolute;*/
    vertical-align: middle;
    
}
a .read-more-icon {    
    margin: -2px 0 0 4px;
    /*position: absolute;*/
    font-size: 30px;
    vertical-align: middle;
    
}
.cookiealert a {
    text-decoration: underline;
    color: #fff;
}
a .read-more-icon:hover > i {    
    text-decoration: none;
    border:none!important;
    padding-right:.5rem;
}
a.read-more:hover > i {
    padding-left: 10px;
}
.read-more {font-weight: 800; color: #0d62fe;}
img.highlight-img {
    max-width: 100%;
    object-fit: cover;
    max-height: 100%;
    /*min-height: 520px;*/
}

.blog img {
   /* padding: 1em 0;*/
}
.blog ul {
   /* margin: 0 auto;*/
    padding: 0;
}
.featured-images img {
    max-height: 40vh;
    object-fit: cover;
    align-self: flex-start;
}
.blog .blog-item h3 a {font-size:26px;}
.btn-group a {
    margin-bottom: 2em;
    min-width: 30px;
    height:30px;
}
.btn-group a i {
    border-radius: 3px;
    min-width: 30px;
    height:30px;
    background: transparent;
    padding: 12px;
    color: #0d62fe;
    font-size: 24px;
    margin-left: -25px;
    animation: .3 transition;
    
}

.btn-group a i:hover {
    transition: .3s color;
    transition: .3s background;
    background: #001c6c;
    color: #fff;
}
button.btn.btn-default.btn-xs.disabled {
    display: none;
}

.dropdown-item.disabled {
    border-left-color: #fff;
    box-shadow: none;
    background: transparent;
    opacity: .5;
}


.btn-group a:focus {
    border: none;
    box-shadow: none;
}

img.author-avatar {
    border-radius: 50%;
    height: auto;
    height: 40px;
    width: 40px;
    float: left;
    box-shadow: 0 5px 23px 0 rgba(0,0,0,0.1);
}
.blog-hero-container {
    min-height: calc(55vh - 100px);
    display: flex
}
header#blog {
    padding: 14vh 0 0;
    text-align: left;
    color: #FFF;
    min-height: 405px
}

/* // blog *******************************************************/
.paygage-generic-container {
    height: 40vh;
    display: flex
}

#generic h1 {
   /* font-size: calc(6vh + 0.2em);*/
   /*font-size: 50px;*/
   font-size:3.1vw;
}
#hero h1 {
   /* font-size: calc(5vh + 0.2em);*/
   /*font-size: 50px;*/
   font-size:3.1vw;
}

.paygage-hero-container {
   /* height: calc(75vh - 150px);*/
   height: calc(70vh);
    display: flex
}

#success_message h3 {
    padding-top: 1rem
}

.bg-light-green {
    background-color: #BEF0AF;
}
.bg-yellow {
    background-color: #F5B700;
}
.bg-sand {
    background-color: #F4F2EE;
}
.bg-grey {
    background-color: #fafafa;
}
.bg-primary-glueup {
    background-color:#0d62fe;
}
.bg-logo {
    height: 60vh;
    position: absolute;
    right: 0;
    margin: -40px;
    filter: brightness(0);
    opacity: 0.02;
}
.sentence {
    font-weight: bolder;
    color: #212121;
    font-size: 2rem;
    line-height: 1.2;
}
/*p.sentence:before/*, p.sentence:after {
    content: '.';
    color: #0d62fe;
    font-size: 16rem;
    position: absolute;
    margin: -10.8rem -5rem;
}*/
.tagline {
    font-size: 1.3rem;
    font-weight: 300;
    color: #181F16;
    max-width: 800px;
    margin: 0 auto;
    line-height:1.5;
}

section p.tagline {
    color: #7a7a7a
}

.counter-item i {
    font-size: 50px;
    opacity: 0.4
}

.img-holder {
    height: 0;
    padding-bottom: 33%;
    overflow: hidden
}
.mobile-screen {
	max-height:750px;	
}
.paygage-visual {
    display: block;
    max-width: 100%;
    /*max-height: 500px;*/
    max-height: 60vh;
    text-align: center;
    margin: 0 auto;
    /*
    box-shadow: 0 5px 23px 0 rgba(0,0,0,0.1);*/
}
.hero-home {
margin-top: -18vh;
    padding: 9px;
    left: 10px;
    width: 97vw;
    height: auto;
}

.dropdown-visual {
    display: block;
    max-width: 30%;
    max-height: 370px;
    text-align: center;
    float: left;
    margin-right: 1rem;
}

.client-logo {
    padding: 1em 1em;
    /*filter: grayscale(1) opacity(0.7);*/
    max-width: 50%
}

@media (max-width:1200px) {
    .img-holder {
        padding-bottom: 50%
    }
}

@media (max-width:767px) {
    .tagline {
        font-size: 17px
    }
    /* Icon 1 */

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 40px;
  height: 20px;
  position: relative;
  margin: 0px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #0d62fe;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* Icon 3 */

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 10px;
}

#nav-icon3 span:nth-child(4) {
  top: 20px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

    .nav-menu { margin-top:0;}
    .img-holder {
        padding-bottom: 100%
    }
        img.highlight-img {
    max-width: 100%;
    object-fit: cover;
    max-height: 100%;
    min-height: 212px;
    }
}

.legal h3 {
    text-transform: capitalize!important;
    font-size: 24px
}

.legal p, .legal li {
    color: #7a7a7a;
    font-weight: 300
}
/*li.nav-item {display:flex;}*/

.gradient-fill:before {
    color: #0d62fe;
    background: #0d62fe;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent
}

.card.features {
    border: 0;
    border-radius: 3px;
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease
}

@media (max-width:991px) {
    .card.features {
        margin-bottom: 2rem
    }
    [class^="col-"]:last-child .card.features {
        margin-bottom: 0
    }
}
    .dropdown-toggle::after {
    transition: transform 0.15s linear;
    float: right;
    margin-top: 10px;
}
   

.card.features:before {
    content: "";
    position: absolute;
    width: 3px;
    color: #0d62fe;
    background: #0d62fe;
    top: 0;
    bottom: 0;
    left: 0
}

.card-text {
    font-size: 16px;
}

.author-role p, .author a {
    font-size: 14px;
}
.nav .nav-link i {
    font-size: 37px;
    /*display: block;*/
    text-align: center;
    color: rgba(16, 97, 254, 0.20);
}
 .nav a.nav-link.active i {
     color: #0d62fe;
}
.card.features:hover {
    transform: translateY(-3px);
    -moz-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.08)
}

.box-icon {
    box-shadow: 0 0 43px 0 rgba(0, 0, 0, 0.14);
    padding: 10px;
    width: 70px;
    border-radius: 3px;
    margin-bottom: 1.5rem;
    background-color: #FFF
}
.bullet-icon {
    /*box-shadow: 0 0 43px 0 rgba(0,0,0,0.14);*/
    padding: 14px;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    background-color: #FFF;
    font-size: 37px;
    color: #0d62fe;
}
.bullet-small {
    font-size:10px;
    font-weight: 400;
}
i.accordion-icon {
    color: #0d62fe;
    font-size: 37px;
    float: left;
    display: flex;
}

img.app-icon {
    width: 74px;
    border-radius: 18px;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1)
}

.circle-icon {
    box-shadow: 0 9px 32px 0 rgba(0, 0, 0, 0.07);
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    background-color: #FFF;
    color: #f5378e;
    font-size: 48px;
    text-align: center;
    line-height: 80px;
    font-weight: 300;
    transition: all 0.3s ease
}

@media (max-width:992px) {
    .circle-icon {
        width: 70px;
        height: 70px;
        font-size: 28px;
        line-height: 50px
    }
        .nav-menu.menu-is-open {
    height: 100vh;
}
    /*footer ul {
    display: inline-block;
    }
    footer .list-break li {
    width: 50%;
    float: left;
    }*/
    footer .col-sm-6 {
    float: left;
    width: 50%;
    }
    .dropdown-menu {
       /* display: block;*/
        position: relative;
        border-width: 0;
        padding: 0;
        margin: 0;
    }
    .dropdown-item {
    padding: .5rem 0 .5rem 1rem!important;
    margin-left: 0;
}
     li.nav-item.dropdown {
    border-bottom: 1px solid #f2f4f6;
}
    #navbar a.btn.btn-outline-light {
        width: 100%;
        background: #0d62fe;
        color: #fff;
            padding: 1rem;
    }
        .navbar .nav-item {
        margin-right: 0;
    }
    #navbar .navbar-nav .nav-item a {
    padding: 1rem;
    }
    div#navbar {
    margin-top: 1rem;
    }
    #navbar h4 {
    margin: 2rem 0;
    padding: 0 .75rem;
    font-size: 16px;
    }
    .dropdown-item {
        padding: .5rem 1rem;
    }
    .dropdown-item .link-title {
    font-size: 18px;
    }
    li.glueupmenu {
        margin:0;
        padding:0;
    }
    h6.intro {
    padding: 0 1.3rem;
}
}

.ui-steps li:hover .circle-icon {
    background-image: -moz-linear-gradient( 122deg, #e6388e 0%, #fb378e 100%);
    background-image: -webkit-linear-gradient( 122deg, #e6388e 0%, #fb378e 100%);
    background-image: -ms-linear-gradient( 122deg, #e6388e 0%, #fb378e 100%);
    background-image: linear-gradient( 122deg, #e6388e 0%, #fb378e 100%);
    box-shadow: 0 9px 32px 0 rgba(0, 0, 0, 0.09);
    color: #FFF
}

.ui-steps li {
    padding: 15px 0
}

.ui-steps li:not(:last-child) {
    border-bottom: 1px solid #f8e3f0
}

.perspective-phone {
    position: relative;
    z-index: -1
}

@media (min-width:992px) {
    .perspective-phone {
        margin-top: -150px
    }
}

.tab-content {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #FFF;
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.04);
    padding: 3rem
}
.tab-content p {
    line-height: 1.8;
    font-weight: lighter;
}
.right-panel a.dropdown-item  {
    margin-top:0;
}

@media (max-width:992px) {
    .tab-content {
        padding: 1.5rem
    }
    .navbar-collapse {
         max-height: 90vh;
         overflow-y: auto;
    }
     .navbar {
        padding:1rem 0;
    }
.navbar-nav .dropdown-menu {
    position: relative;
    box-shadow: none;
    margin-bottom: 1rem;
}
}

.tab-content p {
    line-height: 1.8
}

.tab-content h2 {
    margin-bottom: 0.5rem
}

.nav-tabs {
    border-bottom: 0
}

.nav-tabs .nav-item .nav-link,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
   /* padding: 1rem 1rem;
    border-color: #f2f4f6;
    font-size: 19px;
    color: #001C6C;
    background: #fff80;*/
    
}
.section .nav-tabs .nav-item .nav-link,
.section .nav-tabs .nav-link:focus,
.section .nav-tabs .nav-link:hover {
 
}


.nav-tabs .nav-link.active {
    background: #FFF;
    border-top-width: 3px;
    border-top-color: #0d62fe;
    color: #001C6C
}

.owl-carousel .owl-item img.client-img {
    width: 110px;
    margin: 30px auto;
    border-radius: 50%;
    box-shadow: 0 9px 32px 0 rgba(0, 0, 0, 0.07)
}

.testimonials-single {
    text-align: center;
    max-width: 80%;
    margin: 0 auto
}

.blockquote {
    color: #7a767a;
    font-weight: 300
}

.owl-next.disabled,
.owl-prev.disabled {
    opacity: 0.5
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.owl-prev {
    left: 0
}

.owl-next {
    right: 0
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 60px
}

.owl-theme .owl-dots .owl-dot span {
    background: #BEF0AF;
    width: 35px;
    height: 8px;
    border-radius: 10px;
    transition: all 0.3s ease-in
}

.owl-theme .owl-dots .owl-dot:hover span {
    background: #0d62fe
}

.owl-theme .owl-dots .owl-dot.active span {
    background: #0d62fe;
    box-shadow: 0 9px 32px 0 rgba(0, 0, 0, 0.07)
}

.img-gallery .owl-item {
    box-shadow: 0 9px 32px 0 rgba(0, 0, 0, 0.07);
    transform: scale(0.8);
    transition: all 0.3s ease-in
}

.img-gallery .owl-item.center {
    transform: scale(1)
}

@media (max-width:992px) {
    .card-deck {
        -ms-flex-direction: column;
        flex-direction: column
    }
    .card-deck .card {
        margin-bottom: 15px
    }
}

.card.pricing {
    border: 1px solid #f1eef1
}

.card.pricing.popular {
    border-top-width: 3px;
    border-color: #0d62fe #f2f4f6 #FFF;
    box-shadow: 0 12px 59px 0 rgba(36, 7, 31, 0.11);
    color: #001C6C
}

.card.pricing .card-head {
    text-align: center;
    padding: 40px 0 20px
}

.card.pricing .card-head .price {
    display: block;
    font-size: 45px;
    font-weight: 300;
    color: #001C6C
}

.card.pricing .card-head .price sub {
    bottom: 0;
    font-size: 55%
}

.card.pricing .list-group-item {
    border: 0;
    text-align: center;
    color: #959094;
    padding: 1.05rem 1.25rem
}

.card.pricing .list-group-item del {
    color: #d9d3d8
}

.card.pricing .card-body {
    padding: 1.75rem
}

.call-to-action {
    text-align: center;
    color: #FFF;
    margin: 3rem 0
}

.call-to-action .box-icon {
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    transform: scale(0.85);
    margin-bottom: 2.5rem
}

.call-to-action h2 {
    color: #FFF
}

.call-to-action .tagline {
    font-size: 16px;
    font-weight: 300;
    color: #0d62fe;
    max-width: 650px;
    margin: 0 auto
}

.btn-light img {
    margin-right: 0.4rem;
    vertical-align: text-bottom
}

.social-icons {
    text-align: right
}
.small, small {
    font-size: 80%;
    font-weight: 300;
}

.social-icons a {
    background-color: #FFF;
    box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.05);
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    margin: 0 0.3rem;
    border-radius: 5px;
    color: #BEF0AF;
    transition: all 0.3s ease
}

.social-icons a:hover {
    text-decoration: none;
    color: #0d62fe
}

@media (max-width:991px) {
    .social-icons {
        text-align: center;
        margin-top: 2rem
    }
}

