description = "home hero saves the day"

[viewBag]
==
<header id="hero" class="">
{#<img src="{{ 'paygage-visual-main.svg' | media }}" class="paygage-visual" alt="logo">#}
        <div class="container paygage-hero-container">
            <div class="row mx-auto">
                
                <div class="col-md-7 mx-auto hero align-self-center text-center">
                 
                      <h1>{{ 'Connect the dots from outreach to building <span class="line"><ins>communities</ins></span>'|_ }} </h1>
                       <p class="tagline"> {{ 'Connecting with your audience is more important than ever. We can help with scalable events, memberships, communities and payments.'|_ }} </p>
                       <a href="#" class="btn btn-primary my-4" data-toggle="modal" data-target="#contact-paygage">Get Started</a>

                </div>
            </div>
        </div> 
    </header>