description = "intro title for features"

[viewBag]
==
<!-- Section Page Intro Start -->
<section class="section"  id="product">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="block text-center">
                    <small>Our Product</small>
                     <h2 class="mt-3 mb-4 position-relative content-title">{{ 'A payment gateway built for professional communities'|_ }}</h2>
                     <p class="tagline"> {{ 'Paygage is the most convenient and safest choice for member-based organizations who want to collect online payments.'|_ }} {{ 'Our payment solutions provide fast, painless, and secure way to collect money and bill your communities.'|_ }} </p>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- Section Page Intro End -->