description = "feature sell point with text on the left"

[viewBag]
==
<section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-5 align-self-center" style="margin-bottom:50px;">
                 <div>
                 <span class="h6 text-color hideme">Easy-to-use</span>
                            
                            <h2 class="mt-3 mb-4 position-relative content-title  hideme">The most convenient way to pay and get paid online</h2>
                            <div class="about-content  hideme">
						 <p class="mb-4">Accept payments or bill customers on a recurring basis without any headache for you or your community.</p>
                         <p>
                            Paygage <strong>accepts payments</strong> from all major credit card and debit card companies across the world.
                        </p>
                        <p>
                            Enable your community to pay you securely and conveniently using any of the major credit, debit or prepaid cards, via bank transfer or digital wallet.
                             </p></div>
                  </div>
                </div>
                <div class="col-md-7 d-flex align-items-center">
                    <img src="{{ 'paygage-convenient.svg' | media }}" alt="paygage is accessible" class="img-fluid mx-auto paygage-visual pt-5 lazy fadeIn">
                </div>
            </div>

        </div>

</section>
    <!-- // end .section -->