description = "feature sell point with text on the right"

[viewBag]
==
<section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-5 align-self-center">
                 <div>
                 <span class="h6 text-color">Integrated</span>
                            
                            <h2 class="mt-3 mb-4 position-relative content-title hideme">{{ 'Go beyond payments'|_ }}</h2>
                            <div class="about-content hideme">
						 <p class="mb-4">{{ 'Learn about your consumers with in-depth reports.'|_ }}</p>
                         <p>
                            {{ 'Automate your complete financial journey from online payments through ticketing and invoice generation all the way until your taxes are due. '|_ }}
                        </p>
                        <p>
                            {{ 'Be always in known about financial performance of every activity you offer and never lose a track of any payment. '|_ }}
                             </p></div>
                  </div>
                </div>
                <div class="col-md-7 d-flex align-items-center">
                    <img src="{{ 'paygage-beyond.svg' | media }}" alt="paygage is accessible" class="img-fluid mx-auto paygage-visual pt-5 lazy">
                </div>
            </div>

        </div>

</section>
    <!-- // end .section -->