[genericForm]
rules[name] = "required"
rules[email] = "required|email"
messages_success = "Your form was successfully submitted"
messages_errors = "There were errors with your submission"
mail_enabled = 1
mail_subject = "New Submission"
mail_recipients[] = "alexsantafe@gmail.com"
mail_replyto = "social@eventbank.com"
mail_resp_enabled = 1
mail_resp_field = "email"
mail_resp_from = "paygage@paygage.us"
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
==
{##}
<!doctype html>
<html lang="en">
<head>
{% partial 'site/meta.htm' %}
</head>

<body data-spy="scroll" data-target="#navbar" data-offset="30" data-gr-c-s-loaded="true">
{# Header with TopBar #}
{% partial 'site/header.htm' %}

{% page %}
<!--<div class="main-wrapper">{# Main Wrapper #}-->
{% partial 'site/footer.htm' %}
</div>{# End Main Wrapper #}
{% partial 'site/signup-modal.htm' %}
{# JavaScripts #}
{% partial 'site/scripts.htm' %}
</body>
</html>