description = "tryout 2"
==
<div class="services__accordion row flex-row-reverse">
            <div class="col-md-10 mx-auto align-self-center" style="margin-bottom:50px;">
				<div class="accordion__img desktop">
				    <div id="tab1-bullet-img" class="firstshow text-center">
				        <img class="feature-window desktop" src="{{ 'all-in-one.svg' | media }}" alt="chat">					
				         <p class="pt-3 d-flex flex-column">{{ 'Ultimate toolkit that has everything you and your community needs for maximum engagement.'|_ }}</p>
				        </div>
				    <div id="tab2-bullet-img" class=" text-center">
				        <img class="feature-window" src="{{ 'assets/images/preview.svg' | theme }}" alt="chat">
				        <p class="pt-3 d-flex flex-column">{{ 'One app for you to manage everything on the go, and one app for your community to stay connected.'|_ }}</p>
				     </div>
			        <div id="tab3-bullet-img" class=" text-center">
    			        <img class="feature-window" src="{{ 'assets/images/preview.svg' | theme }}" alt="chat">
    			        <p class="pt-3 d-flex flex-column">{{ 'Premium user experience battle-tested for your and all your audiences’s absolute comfort.'|_ }}
							{#<a href="{{ 'blog'|page }}" class="read-more pt-3">Learn More</a>#}</p>
							</p>
			     </div>
			     </div>
			
				<div class="services__accordion row">
				    <div class="col-md-4 align-self-center" style="margin-bottom:50px;">
    				    <div class="accordion pl-3 active small dropdown-item with-icon pointer" tab-name="tab1-bullet">
                            <i class="icon-overview"></i>
                            <span>{{ 'All-in-one Solution'|_ }}</span>
                        </div>
                    </div>
                    <div class="col-md-4 align-self-center" style="margin-bottom:50px;">
                    <div class="accordion pl-3 small dropdown-item with-icon pointer" tab-name="tab2-bullet">
                        <i class="icon-mobile-check"></i>
                        <span>{{ 'Built in Mobile Apps'|_ }}</span>
                        
                    </div>
                    </div>
                    <div class="col-md-4 align-self-center" style="margin-bottom:50px;">
                    <div class="accordion pl-3 small dropdown-item with-icon pointer" tab-name="tab3-bullet">
                        <i class="icon-button"></i>
                        <span>{{ 'Easy to use'|_ }}</span>
							
						</div>
                    </div>
                    </div>
				</div>
			</div>
						</div>
			
		</div>