description = "hidden fields to forms"

[viewBag]
==
<?php
use RainLab\Translate\Classes\Translator;
use RainLab\Translate\Components;
use Raccoon\GeoLocation\Facades\Geo;
//use October\Rain\Router\Router as RainRouter;
//use Cms\Classes\ComponentBase;
protected $redirect;

protected $translator;

function onStart() {
if ( isset($_GET['utm_source']) ) {
       $this['utmSource'] = $_GET['utm_source']; 
    } else {
      //  echo 'the parameter utm_source is missing';
    }
if ( isset($_GET['utm_medium']) ) {
       $this['utmMedium'] = $_GET['utm_medium'];
    } else {
      //  echo 'the parameter utm_source is missing';
    }
if ( isset($_GET['utm_campaign']) ) {
       $this['utmCampaign'] = $_GET['utm_campaign'];
    } else {
      //  echo 'the parameter utm_source is missing';
    }
if ( isset($_GET['utm_term']) ) {
       $this['utmTerm'] = $_GET['utm_term'];
    } else {
      //  echo 'the parameter utm_source is missing';
    }
if ( isset($_GET['utm_content']) ) {
       $this['utmContent'] = $_GET['utm_content'];
    } else {
      //  echo 'the parameter utm_source is missing';
    }


    $this->translator = Translator::instance();
    $this['url_from'] = $this->currentPageUrl();

$ipAddress = $_SERVER['REMOTE_ADDR']?:($_SERVER['HTTP_X_FORWARDED_FOR']?:$_SERVER['HTTP_CLIENT_IP']);   
$geoLocation = Geo::getLocation($ipAddress);  
	$this['Location'] = $geoLocation->countryCode; 
	$this['country'] = $geoLocation->countryName;
	$this['ip_Address'] = $geoLocation->ipAddress; 
	$this['Location_Name'] = $geoLocation->countryName; 
	$this['City'] = $geoLocation->cityName; 
	
}

/*
APAC:
'AF', 'AU', 'AW', 'AZ', 'BD', 'BH', 'KH', 'CN', 'CX', 'CC', 'FJ', 'FK', 'FM', 'FO', 'HK', 'ID', 'IN', 'JP', 'KG', 'KP', 'KR', 'KZ', 'LA', 'LK', 'MO', 'MG', 'MY', 'MN', 'MM', 'NP', 'NZ', 'OM', 'PH', 'PK', 'PW', 'QA', 'SG', 'SY', 'TW', 'TJ', 'TH', 'TM', 'AE', 'UZ', 'VU', 'VN'
 
EMEA:
'AL', 'DZ', 'BF', 'BW', 'CM', 'CF', 'TD', 'CG', 'CI', 'CD', 'DJ', 'EG', 'TP', 'GQ', 'ER', 'ET', 'GA', 'GM', 'GH', 'IR', 'JO', 'KE', 'LR', 'LS', 'LY', 'MZ', 'NA', 'NE', 'NG', 'RU', 'RW', 'SN', 'SL', 'SO', 'ZA', 'SD', 'SR', 'SJ', 'SZ', 'TZ', 'TL', 'TG', 'TK', 'TO', 'TT', 'TN', 'TR', 'TC', 'TV', 'UA', 'UG', 'EH', 'YE', 'ZM', 'ZW'
 
USA:
'AX', 'AS', 'AI', 'AD', 'AO', 'AN', 'AG', 'AQ', 'AM', 'AT', 'BA', 'BB', 'BE', 'BG', 'BI', 'BJ', 'BM', 'BN', 'BT', 'BV', 'BV', 'BZ', 'CA', 'CV', 'CK', 'CR', 'HR', 'CY', 'CZ', 'DK', 'DM', 'EE', 'FI', 'FR', 'FX', 'GF', 'PF', 'DE', 'GI', 'GB', 'GD', 'GE', 'GR', 'GL', 'GS', 'HT', 'HU', 'IE', 'IL', 'IO', 'IQ', 'IT', 'KW', 'KY', 'LB', 'LC', 'LI', 'LT', 'LU', 'LV', 'MK', 'MT', 'MA', 'MC', 'MD', 'MV', 'NC', 'NL', 'NO', 'PL', 'CS', 'PT', 'RO', 'SA', 'WS', 'SH', 'VC', 'SM', 'ST', 'SC', 'SK', 'SI', 'SB', 'SE', 'CH', 'UK', 'US', 'UM', 'VA', 'VG', 'VI'
 
LATAM:
'AR', 'BO', 'BR', 'BS', 'CL', 'CO', 'CU', 'DO', 'EC', 'SV', 'GN', 'GT', 'GU', 'GW', 'GY', 'HN', 'JM', 'MX', 'NI', 'PA', 'PE', 'PG', 'PR', 'PY', 'ES', 'UY', 'VE'
*/

//function getFacadeAccessor() {
//$geoLocation = Geo::getLocation($ipAddress);
//print '<pre>';
//var_dump('testibggg');
//var_dump($geoLocation);
//print '</pre>';
//if ($geoLocation->countryCode === 'CN') {
//    header("Location: https://www.glueup.com");
// } else {
//    header("Location: https://www.glueup.cn");
 //    }   
//}
?>
==
<div class="form-group" style="visibility:hidden; max-height: 1px; margin:0;">
                                <label for="country" style="visibility:hidden;"> </label>
                        	 <input type="text" id="country" name="country" placeholder="{{ country }}" value="{{ country }}" aria-label="country" class="form-control has_background" style="visibility:hidden;">
                          	</div>
                            	<div class="form-group" style="visibility:hidden; max-height: 1px; margin:0;">
                                <label for="office" style="visibility:hidden;"> </label>
                        	 <input type="hidden" id="office" name="office" placeholder="" value="{{ office }}" aria-label="office" class="form-control has_background" style="visibility:hidden;">
                          	</div>
							    
                          	<div class="form-group" style="visibility:hidden; max-height: 1px; margin:0;">
                                <label for="url_from" style="visibility:hidden;"> </label>
                        	 <input type="text" id="websitesource" name="url_from" placeholder="websitesource" value="{{ this.page.baseFileName }}" aria-label="url_from" class="form-control has_background" style="visibility:hidden;">
                          	</div>


    <div class="form-group" style="visibility:hidden; max-height: 1px; margin:0;">
  <label foip_user" style="visibility:hidden;"> </label>
   <input type="text" id="ip_user" namip_user" placeholder="ip_user" value="{{ ip_Address }}" aria-label="language" class="form-control has_background" style="visibility:hidden;">
  </div>

  <div class="form-group" style="visibility:hidden; max-height: 1px; margin:0;">
  <label for="utm_source" style="visibility:hidden;"> </label>
   <input type="text" id="utm_source" name="utm_source" placeholder="{{ utmSource }}" value="{{ utmSource }}" aria-label="utm_source" class="form-control has_background" style="visibility:hidden;">
  </div>


  <div class="form-group" style="visibility:hidden; max-height: 1px; margin:0;">
  <label for="utm_medium" style="visibility:hidden;"> </label>
   <input type="text" id="utm_medium" name="utm_medium" placeholder="{{ utmMedium }}" value="{{ utmMedium }}" aria-label="utm_medium" class="form-control has_background" style="visibility:hidden;">
  </div>

  <div class="form-group" style="visibility:hidden; max-height: 1px; margin:0;">
  <label for="utm_campaign" style="visibility:hidden;"> </label>
   <input type="text" id="utm_campaign" name="utm_campaign" placeholder="{{ utmCampaign }}" value="{{ utmCampaign }}" aria-label="utm_campaign" class="form-control has_background" style="visibility:hidden;">
  </div>

    <div class="form-group" style="visibility:hidden; max-height: 1px; margin:0;">
  <label for="utm_term" style="visibility:hidden;"> </label>
   <input type="text" id="utm_term" name="utm_term" placeholder="{{ utmTerm }}" value="{{ utmTerm }}" aria-label="utm_term" class="form-control has_background" style="visibility:hidden;">
  </div>

    <div class="form-group" style="visibility:hidden; max-height: 1px; margin:0;">
  <label for="utm_content" style="visibility:hidden;"> </label>
   <input type="text" id="utm_content" name="utm_content" placeholder="{{ utmContent }}" value="{{ utmContent }}" aria-label="utm_content" class="form-control has_background" style="visibility:hidden;">
  </div>

    <div class="form-group" style="visibility:hidden; max-height: 1px; margin:0;">
  <label for="language" style="visibility:hidden;"> </label>
   <input type="text" id="hs_language" name="language" placeholder="hs_language" value="{{ activeLocale }}" aria-label="language" class="form-control has_background" style="visibility:hidden;">
  </div>