[viewBag]
==
{##}
<script src="{{'assets/js/jquery-3.5.1.min.js'|theme }}" type="text/javascript"></script>
{% framework extras %}
    <script src="{{ 'assets/js/bootstrap.bundle.min.js'|theme }}"></script>
<script src="{{ 'assets/js/script.js'|theme }}"></script>
{#<script src="{{ [
    'assets/js/jquery.waypoints.min.js',
    'assets/js/jquery.counterup.min.js'
    ]|theme }}" type="text/javascript" async></script>#}

<script src="{{ 'assets/js/underliner.js'|theme }}"></script>
{#<script src="{{ 'assets/js/intercom.js'|theme }}" async></script>#}
<script src="{{ 'assets/js/blog.js'|theme }}" defer></script>
<script src="{{ 'assets/js/tabs.js'|theme }}" async></script>
<script src="{{ 'assets/js/tawk.js'|theme }}" defer></script>